<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title></title>
    <meta charset="utf-8">
    <script type="text/javascript">
        function Save() {
            document.getElementById("PageOfficeCtrl1").WebSave();
            window.external.CallParentFunc("resetInit();");
            window.external.close();
        }

        function SetFullScreen() {
            document.getElementById("PageOfficeCtrl1").FullScreen = !document.getElementById("PageOfficeCtrl1").FullScreen;
        }

        function Close() {
            window.external.close();
        }
    </script>
</head>
<body>
<form id="form1">
    <div style="font-size: 14px;z-index:100">
        <label for="">
            检测人：
            <select name="cars1" id="testSet" th:value="testSet">
<!--                <option th:each="e:${valueVoList}" th:value="${e.value}" th:text="${e.label}"></option>-->
<!--                <option th:each="e:${userInfoVos}" th:value="${e.departmentId}" th:text="${e.name}"></option>-->
                <option th:each="e:${teamVo}" th:value="${e.value}" th:text="${e.label}"></option>
            </select>
        </label>
        <label for="">
            记录人：
            <select name="cars2" id="recordSet" th:value="recordSet">
<!--                <option th:each="e:${userInfoVos}" th:value="${e.departmentId}" th:text="${e.name}"></option>-->
                <option th:each="e:${recorderVo}" th:value="${e.value}" th:text="${e.label}"></option>
            </select>
        </label>
        <input id="items" name="items" type="hidden" th:value="${items}" style="display: none"/>

        </select>
    </div>
    <div style="width:auto; height:700px;z-index:99" th:utext="${pageoffice}"></div>
</form>
</body>
</html>

