<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.stu.manage.demo.mapper.CrmMapper">
    <select id="getMaxIndex" resultType="String">
        select max(next_token) from jky_ding_lims_customer order by next_token desc
    </select>

    <insert id="BatchSave" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
        INSERT into  jky_ding_lims_customer(
        user_id,
        creator_user_id,
        create_time,
        contact_name,
        contact_union_id,
        instance_id,
        modify_time,
        next_token,
        mobile
        )
        VALUES
        <foreach collection="list" item="item" open="" separator="," close="">
            (#{item.userId},#{item.creatorUserId},#{item.createTime},#{item.contactName},#{item.contactUnionId},
            #{item.instanceId},#{item.modifyTime},#{item.nextToken},#{item.mobile})
        </foreach>
    </insert>
</mapper>