<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lims.manage.erp.mapper.DeclarationParamEntityMapper" >
  <resultMap id="BaseResultMap" type="com.lims.manage.erp.entity.DeclarationParamEntity" >
    <constructor >
      <arg column="plan_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="product_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="check_item_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="check_item_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attribute" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="standard_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="standard_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="method_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="method_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="instrument_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="instrument_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="limit_range" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <insert id="batchInsert" parameterType="com.lims.manage.erp.entity.DeclarationParamEntity" >
    insert into test_declaration_param (plan_id, product_id, check_item_id, 
      check_item_name, attribute, create_user, 
      create_time, standard_id, standard_name, 
      method_id, method_name, instrument_id, 
      instrument_name, limit_range, description
      )
    values
    <foreach collection="items" item="item" open="" separator="," close="">
      (#{item.planId,jdbcType=BIGINT}, #{item.productId,jdbcType=BIGINT}, #{item.checkItemId,jdbcType=BIGINT},
      #{item.checkItemName,jdbcType=VARCHAR}, #{item.attribute,jdbcType=VARCHAR}, #{item.createUser,jdbcType=VARCHAR},
      #{item.createTime,jdbcType=TIMESTAMP}, #{item.standardId,jdbcType=INTEGER}, #{item.standardName,jdbcType=VARCHAR},
      #{item.methodId,jdbcType=INTEGER}, #{item.methodName,jdbcType=VARCHAR}, #{item.instrumentId,jdbcType=INTEGER},
      #{item.instrumentName,jdbcType=VARCHAR}, #{item.limitRange,jdbcType=VARCHAR}, #{item.description,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <insert id="insert" parameterType="com.lims.manage.erp.entity.DeclarationParamEntity" >
    insert into test_declaration_param (plan_id, product_id, check_item_id,
      check_item_name, attribute, create_user,
      create_time, standard_id, standard_name,
      method_id, method_name, instrument_id,
      instrument_name, limit_range, description
      )
    values (#{planId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{checkItemId,jdbcType=BIGINT},
      #{checkItemName,jdbcType=VARCHAR}, #{attribute,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{standardId,jdbcType=INTEGER}, #{standardName,jdbcType=VARCHAR},
      #{methodId,jdbcType=INTEGER}, #{methodName,jdbcType=VARCHAR}, #{instrumentId,jdbcType=INTEGER},
      #{instrumentName,jdbcType=VARCHAR}, #{limitRange,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertNew" parameterType="com.lims.manage.erp.entity.DeclarationParamEntity" >
    insert into test_declaration_item (plan_id, product_id, check_item_id,
      check_item_name, attribute, create_user,
      create_time
      )
    values (#{planId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{checkItemId,jdbcType=BIGINT},
      #{checkItemName,jdbcType=VARCHAR}, #{attribute,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lims.manage.erp.entity.DeclarationParamEntity" >
    insert into test_declaration_param
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="planId != null" >
        plan_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="checkItemId != null" >
        check_item_id,
      </if>
      <if test="checkItemName != null" >
        check_item_name,
      </if>
      <if test="attribute != null" >
        attribute,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="standardId != null" >
        standard_id,
      </if>
      <if test="standardName != null" >
        standard_name,
      </if>
      <if test="methodId != null" >
        method_id,
      </if>
      <if test="methodName != null" >
        method_name,
      </if>
      <if test="instrumentId != null" >
        instrument_id,
      </if>
      <if test="instrumentName != null" >
        instrument_name,
      </if>
      <if test="limitRange != null" >
        limit_range,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="planId != null" >
        #{planId,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="checkItemId != null" >
        #{checkItemId,jdbcType=BIGINT},
      </if>
      <if test="checkItemName != null" >
        #{checkItemName,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null" >
        #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="standardId != null" >
        #{standardId,jdbcType=INTEGER},
      </if>
      <if test="standardName != null" >
        #{standardName,jdbcType=VARCHAR},
      </if>
      <if test="methodId != null" >
        #{methodId,jdbcType=INTEGER},
      </if>
      <if test="methodName != null" >
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="instrumentId != null" >
        #{instrumentId,jdbcType=INTEGER},
      </if>
      <if test="instrumentName != null" >
        #{instrumentName,jdbcType=VARCHAR},
      </if>
      <if test="limitRange != null" >
        #{limitRange,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="getStandard" resultType="com.lims.manage.erp.vo.LabelValueVo" parameterType="java.lang.String">
    SELECT
    t1.*
    FROM
    ( SELECT id VALUE, CONCAT( CODE, '&amp;', '《', NAME, '》' ) label FROM test_standard_file ) t1
    <where>
      <if test="standard!=null and standard!=''">
        AND label LIKE concat(concat('%',#{standard}),'%')
      </if>
    </where>
  </select>

  <select id="getMethod" resultType="com.lims.manage.erp.vo.LabelValueVo">
    SELECT
      t1.*
    FROM
        ( SELECT method_id VALUE, CONCAT( chapter_num, '&amp;', chapter_name ) label FROM test_standard_method
        WHERE standard_id = #{standardId} ) t1
    <where>
      <if test="method!=null and method!=''">
        AND label LIKE concat(concat('%',#{method}),'%')
      </if>
    </where>
  </select>

  <select id="getEquipment" resultType="com.lims.manage.erp.vo.LabelValueVo" parameterType="java.lang.String">
    SELECT
    t1.*
    FROM
    ( SELECT id VALUE, CONCAT( CODE, '&amp;', '《', NAME, '》' ) label FROM test_instrument ) t1
    <where>
      <if test="standard!=null and standard!=''">
        AND label LIKE concat(concat('%',#{standard}),'%')
      </if>
    </where>
  </select>

  <select id="checkParamNew" resultType="com.lims.manage.erp.entity.DeclarationItemEntity"
          parameterType="com.lims.manage.erp.entity.DeclarationItemEntity">
    SELECT
      *
    FROM
      test_declaration_item
    WHERE
      plan_id = #{planId,jdbcType=BIGINT}
      AND product_id = #{productId,jdbcType=BIGINT}
      AND check_item_id = #{checkItemId,jdbcType=BIGINT}
  </select>
  <select id="checkParam" resultType="com.lims.manage.erp.entity.DeclarationParamEntity"
          parameterType="com.lims.manage.erp.entity.DeclarationParamEntity">
    SELECT
      *
    FROM
      test_declaration_param
    WHERE
      plan_id = #{planId,jdbcType=BIGINT}
      AND product_id = #{productId,jdbcType=BIGINT}
      AND check_item_id = #{checkItemId,jdbcType=BIGINT}
  </select>

  <select id="getCheckItemId" resultType="java.lang.Long">
    select check_item_id from test_product_item where product_id = #{productId} and check_item_name = #{checkItemName}
  </select>

  <delete id="deleteParam" parameterType="com.lims.manage.erp.entity.DeclarationItemEntity">
    delete
    from test_declaration_param
    where plan_id = #{planId,jdbcType=BIGINT}
      and product_id = #{productId,jdbcType=BIGINT}
      and check_item_id = #{checkItemId,jdbcType=BIGINT}
  </delete>

  <delete id="deleteItem" parameterType="com.lims.manage.erp.entity.DeclarationItemEntity">
    delete
    from test_declaration_item
    where plan_id = #{planId,jdbcType=BIGINT}
      and product_id = #{productId,jdbcType=BIGINT}
      and check_item_id = #{checkItemId,jdbcType=BIGINT}
  </delete>

  <select id="getParamList" resultType="com.lims.manage.erp.entity.DeclarationParamEntity"
          parameterType="com.lims.manage.erp.entity.DeclarationParamEntity">
    SELECT
      plan_id,
      product_id,
      check_item_id,
      check_item_name,
      attribute,
      create_user,
      create_time,
      COUNT( standard_id ) num
    FROM
    test_declaration_param
    WHERE
        plan_id = #{planId,jdbcType=BIGINT}
    and product_id = #{productId,jdbcType=BIGINT}
    <if test="checkItemName!=null and checkItemName!=''">
      AND check_item_name LIKE concat(concat('%',#{checkItemName}),'%')
    </if>
    <if test="attribute!=null and attribute!=''">
      AND attribute LIKE concat(concat('%',#{attribute}),'%')
    </if>
    GROUP BY
      plan_id,
      product_id,
      check_item_id,
      check_item_name,
      attribute,
      create_user,
      create_time
    ORDER BY
        create_time DESC
  </select>
  <select id="getItemList" resultType="com.lims.manage.erp.entity.DeclarationItemEntity"
          parameterType="com.lims.manage.erp.entity.DeclarationItemEntity">
    SELECT
    *
    FROM
    test_declaration_item
    WHERE
        plan_id = #{planId,jdbcType=BIGINT}
    and product_id = #{productId,jdbcType=BIGINT}
    <if test="checkItemName!=null and checkItemName!=''">
      AND check_item_name LIKE concat(concat('%',#{checkItemName}),'%')
    </if>
    <if test="attribute!=null and attribute!=''">
      AND attribute LIKE concat(concat('%',#{attribute}),'%')
    </if>
    ORDER BY
        create_time DESC
  </select>

  <delete id="deleteParamStandard" parameterType="com.lims.manage.erp.entity.DeclarationParamEntity">
    delete
    from test_declaration_param
    where plan_id = #{planId,jdbcType=BIGINT}
      and product_id = #{productId,jdbcType=BIGINT}
      and check_item_id = #{checkItemId,jdbcType=BIGINT}
      and standard_id = #{standardId,jdbcType=BIGINT}
  </delete>

  <select id="getParamDetail" resultType="com.lims.manage.erp.entity.DeclarationParamEntity"
          parameterType="com.lims.manage.erp.entity.DeclarationItemEntity">
    SELECT
        *
    FROM
        test_declaration_param
    WHERE
    plan_id = #{planId,jdbcType=BIGINT}
    and product_id = #{productId,jdbcType=BIGINT}
    and check_item_id = #{checkItemId,jdbcType=BIGINT}
  </select>
  <select id="getParamDetailInfo" resultType="com.lims.manage.erp.entity.DeclarationItemEntity"
          parameterType="com.lims.manage.erp.entity.DeclarationItemEntity">
    SELECT
        *
    FROM
        test_declaration_item
    WHERE
    plan_id = #{planId,jdbcType=BIGINT}
    and product_id = #{productId,jdbcType=BIGINT}
    and check_item_id = #{checkItemId,jdbcType=BIGINT}
  </select>

  <select id="getCheckItemList" resultType="com.lims.manage.erp.vo.LabelValueVo" parameterType="java.lang.Long">
    SELECT
      check_item_id value,
	check_item_name label
    FROM
      test_product_item
    WHERE
      check_item_pid = 0
      AND del_flag = 0
      and product_id = #{productId}
  </select>
</mapper>