<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lims.manage.erp.mapper.DeclarationPlanEntityMapper">
    <resultMap id="BaseResultMap" type="com.lims.manage.erp.entity.DeclarationPlanEntity">
        <constructor>
            <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="plan_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="start_date" jdbcType="DATE" javaType="java.util.Date"/>
            <arg column="end_date" jdbcType="DATE" javaType="java.util.Date"/>
            <arg column="state" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="operate_user" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="operate_date" jdbcType="DATE" javaType="java.util.Date"/>
            <arg column="is_del" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , plan_name, start_date, end_date, state, operate_user, operate_date, is_del
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from test_declaration_plan
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from test_declaration_plan
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.lims.manage.erp.entity.DeclarationPlanEntity">
        insert into test_declaration_plan (id, plan_name, start_date,
                                           end_date, state, operate_user,
                                           operate_date, is_del)
        values (#{id,jdbcType=BIGINT}, #{planName,jdbcType=VARCHAR}, #{startDate,jdbcType=DATE},
                #{endDate,jdbcType=DATE}, #{state,jdbcType=VARCHAR}, #{operateUser,jdbcType=VARCHAR},
                #{operateDate,jdbcType=DATE}, #{isDel,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.lims.manage.erp.entity.DeclarationPlanEntity">
        insert into test_declaration_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="planName != null">
                plan_name,
            </if>
            <if test="startDate != null">
                start_date,
            </if>
            <if test="endDate != null">
                end_date,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="operateUser != null">
                operate_user,
            </if>
            <if test="operateDate != null">
                operate_date,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="planName != null">
                #{planName,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null">
                #{startDate,jdbcType=DATE},
            </if>
            <if test="endDate != null">
                #{endDate,jdbcType=DATE},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="operateUser != null">
                #{operateUser,jdbcType=VARCHAR},
            </if>
            <if test="operateDate != null">
                #{operateDate,jdbcType=DATE},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lims.manage.erp.entity.DeclarationPlanEntity">
        update test_declaration_plan
        <set>
            <if test="planName != null">
                plan_name = #{planName,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null">
                start_date = #{startDate,jdbcType=DATE},
            </if>
            <if test="endDate != null">
                end_date = #{endDate,jdbcType=DATE},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="operateUser != null">
                operate_user = #{operateUser,jdbcType=VARCHAR},
            </if>
            <if test="operateDate != null">
                operate_date = #{operateDate,jdbcType=DATE},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lims.manage.erp.entity.DeclarationPlanEntity">
        update test_declaration_plan
        set plan_name    = #{planName,jdbcType=VARCHAR},
            start_date   = #{startDate,jdbcType=DATE},
            end_date     = #{endDate,jdbcType=DATE},
            state        = #{state,jdbcType=VARCHAR},
            operate_user = #{operateUser,jdbcType=VARCHAR},
            operate_date = #{operateDate,jdbcType=DATE},
            is_del       = #{isDel,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateDelete" parameterType="java.lang.Long">
        update test_declaration_plan
        set is_del = 1
        where id = #{planId}
    </update>

    <update id="updatePlan" parameterType="com.lims.manage.erp.entity.DeclarationPlanEntity">
        update test_declaration_plan
        <set>
            <if test="planName != null">
                plan_name = #{planName,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null">
                start_date = #{startDate,jdbcType=DATE},
            </if>
            <if test="endDate != null">
                end_date = #{endDate,jdbcType=DATE},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="getPlanList" resultType="com.lims.manage.erp.entity.DeclarationPlanEntity"
            parameterType="com.lims.manage.erp.entity.DeclarationPlanEntity">
        select
            *
        from test_declaration_plan
        <where>
            <if test="planName!=null and planName!=''">
                AND plan_name LIKE concat(concat('%',#{planName}),'%')
            </if>
            <if test="state!=null and state!=''">
                AND state = #{reportCode}
            </if>
        </where>
    </select>

</mapper>