<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stu.manage.demo.mapper.EntrustMapper">
     
    <select id="onceMore" parameterType="String" resultType="com.stu.manage.demo.entity.EntrustBaseInfo">
        SELECT
            t1.check_purpose checkPurpose,
            t2.com_name comName,
            t1.entrust_note entrustNote,
            t1.entrust_people entrustPeople,
            t1.entrust_people_phone entrustPeoplePhone,
            t3.entrust_type_name entrustType,
            t1.project_id projectId,
            t1.project_part projectPart,
            t1.report_get_way reportGetWay,
            t1.report_num reportNum,
            t1.sample_receive_way sampleReceiveWay,
            t1.witness_company_name witnessCompanyName,
            t1.witness_people witnessPeople
        FROM
            jt_entrust_info t1
                LEFT JOIN company t2 ON t1.entrust_company_id = t2.com_id
                LEFT JOIN jt_entrust_type t3 ON t1.entrust_type = t3.entrust_type
        WHERE
            t1.entrust_number = #{entrustNumber}
    </select>

    <select id="getSampleInfo" parameterType="String" resultType="com.stu.manage.demo.entity.SampleInfoVo">
        SELECT
            t1.model_id modelId,
            t1.object_count objectCount,
            t1.product_company_name productCompanyName,
            t1.product_id productId,
            t1.product_number productNumber,
            t2.check_basis_code productStandardSource,
            t3.product_name productName,
            t4.sample_type sampleType,
            t4.sample_type_name sampleTypeName
        FROM
            jt_sample_object t1
                LEFT JOIN (
                SELECT
                    t1.product_id,
                    t1.standard_id,
                    t2.check_basis_code
                FROM
                    ( SELECT DISTINCT product_id, standard_id FROM jt_entrust_check_item WHERE entrust_id = ( SELECT entrust_id FROM jt_entrust_info WHERE entrust_number = #{entrustNumber} ) ) t1
                        LEFT JOIN s_check_basis_code t2 ON t1.standard_id = t2.check_basis_id
            ) t2 ON t1.product_id = t2.product_id
                LEFT JOIN d_product_msg t3 ON t1.product_id = t3.product_id
                LEFT JOIN (
                SELECT
                    t1.sample_id,
                    t2.sample_type,
                    t2.sample_type_name
                FROM
                    jt_sample_info t1
                        LEFT JOIN jt_sample_type t2 ON t1.sample_type = t2.sample_type
                WHERE
                        entrust_id = ( SELECT entrust_id FROM jt_entrust_info WHERE entrust_number = #{entrustNumber} )
            ) t4 ON t1.sample_object_id = t4.sample_id
        WHERE
                t1.sample_object_id IN ( SELECT DISTINCT sample_Id FROM jt_entrust_check_item WHERE entrust_id = ( SELECT entrust_id FROM jt_entrust_info WHERE entrust_number = #{entrustNumber} ) )
    </select>

    <select id="getCheckItemInfo" parameterType="String" resultType="com.stu.manage.demo.entity.CheckItemInfoVo">
        SELECT
            T2.check_item_id checkItemId,
            T2.check_item_name checkItemName,
            T1.check_times checkTimes,
            T3.check_basis_id standardId,
            T1.product_id productId,
            T4.product_name productName,
            CONCAT( T3.check_basis_doc_name, ',', T3.check_basis_code ) standard
        FROM
            jt_entrust_check_item T1
                LEFT JOIN d_product_check_item T2 ON T1.check_item_id = T2.check_item_id
                LEFT JOIN s_check_basis_code T3 ON T1.standard_id = T3.check_basis_id
                LEFT JOIN d_product_msg T4 ON T1.product_id = T4.product_id
        WHERE
                T1.entrust_id = ( SELECT entrust_id FROM jt_entrust_info WHERE entrust_number =  #{entrustNumber} )
    </select>

    <select id="getCheckItemsByProductId" parameterType="Integer" resultType="com.stu.manage.demo.entity.CheckItemCostVo">
        SELECT
            T1.check_item_id itemId,
            T1.check_item_name itemName,
            T2.cost itemCost
        FROM
            d_product_check_item T1
            LEFT JOIN (SELECT * FROM d_product_cost WHERE product_id = #{productId}) T2 ON T1.check_item_id = T2.check_item_id
        WHERE
            is_valid = 1
          AND T1.product_id = #{productId}
    </select>

    <select id="getCheckBasisByProductId" parameterType="Integer" resultType="com.stu.manage.demo.entity.ProductVo">
        SELECT
            T1.check_basis_id value,
	        CONCAT(T2.check_basis_code,',',T2.check_basis_doc_name) label
        FROM
            ( SELECT DISTINCT check_basis_id FROM d_product_check_basis_info WHERE product_id = #{productId} ) T1
            LEFT JOIN s_check_basis_code T2 ON T1.check_basis_id = T2.check_basis_id
    </select>

    <select id="getSampleStat" resultType="com.stu.manage.demo.entity.SampleStatus">
        select DISTINCT a.sample_id As sampleId,a.sample_number As sampleCode,m.product_name As sampleName ,jri.flow_status As reportStat
    from jt_sample_info a
    left join d_product_msg m on a.product_id=m.product_id
           left join jt_report_info jri on a.sample_id = jri.sample_id
    where a.entrust_id=#{id}
    </select>

    <select id="getTaskStat" resultType="com.stu.manage.demo.entity.SampleStatus">
         select DISTINCT j.check_status As checkStat,j.task_notice_status As checkNoticeStat,d.sample_id As sampleId from jt_check_task j
            left join jt_entrust_check_item d on j.entrust_id=d.entrust_id
            where j.entrust_id=#{id}
    </select>

    <select id="ownerTask" resultType="com.stu.manage.demo.entity.StatusEntity">
        SELECT DISTINCT a.entrust_id As entrustId,a.entrust_status As status, a.entrust_number As entrustCode,
        b.com_name As entrustDept,c.accept_time As entrustTime from
        jt_entrust_info a
        left join company b on a.entrust_company_id=b.com_id
        left join jt_entrust_check_info c on a.entrust_id=c.entrust_id
        left join jt_sample_info s on s.entrust_id=a.entrust_id
        left join jt_report_info jri on s.sample_id = jri.sample_id
        where c.accept_time >= #{startTime} and c.accept_time&lt;= #{endTime}
        and a.crm=#{adminId}
        <if test="type != '' and type != null and type==2">
            AND jri.flow_status = 3
        </if>
        <if test="type != '' and type != null and type==1">
            AND jri.flow_status != 3
        </if>
    </select>

    <select id="countCurrent" resultType="String">
        SELECT DISTINCT count(a.entrust_id) from
                jt_entrust_info a
                left join jt_entrust_check_info c on a.entrust_id=c.entrust_id
                left join jt_sample_info s on s.entrust_id=a.entrust_id
                left join jt_report_info jri on s.sample_id = jri.sample_id
                where a.crm=#{adminId} AND jri.flow_status = 3
    </select>

    <select id="countHistory" resultType="String">
        SELECT DISTINCT count(a.entrust_id) from
                jt_entrust_info a
                left join jt_entrust_check_info c on a.entrust_id=c.entrust_id
                left join jt_sample_info s on s.entrust_id=a.entrust_id
                left join jt_report_info jri on s.sample_id = jri.sample_id
                where a.crm=#{adminId} AND jri.flow_status != 3
    </select>

</mapper>