<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lims.manage.erp.mapper.EntrustEntityMapper">
  <resultMap id="BaseResultMap" type="com.lims.manage.erp.entity.EntrustEntity">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="entrustment_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="entrust_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="company_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="entrust_people" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="entrust_phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="witness_uint" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="witness_person" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="witness_phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="project_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="project_part" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sampling_method" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="check_purpose" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="report_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="report_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="request_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="payment_method" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="payment_record" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="payment_count" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="present_information" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="acceptance_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="team" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="state" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="invalid_reason" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="operate_user" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="operate_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="file_url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="seal_type_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_save" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="entrust_people_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="witness_person_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, entrustment_no, entrust_type, company_id, entrust_people, entrust_phone, witness_uint, 
    witness_person, witness_phone, project_name, project_part, sampling_method, check_purpose, 
    report_count, report_type, request_date, payment_method, payment_record, payment_count, 
    present_information, acceptance_date, team, state, remark, invalid_reason, operate_user, 
    operate_date, file_url, seal_type_id, is_save, entrust_people_id, witness_person_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test_entrusted
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from test_entrusted
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lims.manage.erp.entity.EntrustEntity">
    insert into test_entrusted (id, entrustment_no, entrust_type, 
      company_id, entrust_people, entrust_phone, 
      witness_uint, witness_person, witness_phone, 
      project_name, project_part, sampling_method, 
      check_purpose, report_count, report_type, 
      request_date, payment_method, payment_record, 
      payment_count, present_information, acceptance_date, 
      team, state, remark, 
      invalid_reason, operate_user, operate_date, 
      file_url, seal_type_id, is_save, 
      entrust_people_id, witness_person_id)
    values (#{id,jdbcType=INTEGER}, #{entrustmentNo,jdbcType=VARCHAR}, #{entrustType,jdbcType=INTEGER}, 
      #{companyId,jdbcType=INTEGER}, #{entrustPeople,jdbcType=VARCHAR}, #{entrustPhone,jdbcType=VARCHAR}, 
      #{witnessUint,jdbcType=VARCHAR}, #{witnessPerson,jdbcType=VARCHAR}, #{witnessPhone,jdbcType=VARCHAR}, 
      #{projectName,jdbcType=VARCHAR}, #{projectPart,jdbcType=VARCHAR}, #{samplingMethod,jdbcType=INTEGER}, 
      #{checkPurpose,jdbcType=INTEGER}, #{reportCount,jdbcType=INTEGER}, #{reportType,jdbcType=INTEGER}, 
      #{requestDate,jdbcType=TIMESTAMP}, #{paymentMethod,jdbcType=INTEGER}, #{paymentRecord,jdbcType=VARCHAR}, 
      #{paymentCount,jdbcType=VARCHAR}, #{presentInformation,jdbcType=VARCHAR}, #{acceptanceDate,jdbcType=TIMESTAMP}, 
      #{team,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{invalidReason,jdbcType=VARCHAR}, #{operateUser,jdbcType=INTEGER}, #{operateDate,jdbcType=TIMESTAMP}, 
      #{fileUrl,jdbcType=VARCHAR}, #{sealTypeId,jdbcType=INTEGER}, #{isSave,jdbcType=VARCHAR}, 
      #{entrustPeopleId,jdbcType=INTEGER}, #{witnessPersonId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lims.manage.erp.entity.EntrustEntity">
    insert into test_entrusted
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="entrustmentNo != null">
        entrustment_no,
      </if>
      <if test="entrustType != null">
        entrust_type,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="entrustPeople != null">
        entrust_people,
      </if>
      <if test="entrustPhone != null">
        entrust_phone,
      </if>
      <if test="witnessUint != null">
        witness_uint,
      </if>
      <if test="witnessPerson != null">
        witness_person,
      </if>
      <if test="witnessPhone != null">
        witness_phone,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="projectPart != null">
        project_part,
      </if>
      <if test="samplingMethod != null">
        sampling_method,
      </if>
      <if test="checkPurpose != null">
        check_purpose,
      </if>
      <if test="reportCount != null">
        report_count,
      </if>
      <if test="reportType != null">
        report_type,
      </if>
      <if test="requestDate != null">
        request_date,
      </if>
      <if test="paymentMethod != null">
        payment_method,
      </if>
      <if test="paymentRecord != null">
        payment_record,
      </if>
      <if test="paymentCount != null">
        payment_count,
      </if>
      <if test="presentInformation != null">
        present_information,
      </if>
      <if test="acceptanceDate != null">
        acceptance_date,
      </if>
      <if test="team != null">
        team,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="invalidReason != null">
        invalid_reason,
      </if>
      <if test="operateUser != null">
        operate_user,
      </if>
      <if test="operateDate != null">
        operate_date,
      </if>
      <if test="fileUrl != null">
        file_url,
      </if>
      <if test="sealTypeId != null">
        seal_type_id,
      </if>
      <if test="isSave != null">
        is_save,
      </if>
      <if test="entrustPeopleId != null">
        entrust_people_id,
      </if>
      <if test="witnessPersonId != null">
        witness_person_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="entrustmentNo != null">
        #{entrustmentNo,jdbcType=VARCHAR},
      </if>
      <if test="entrustType != null">
        #{entrustType,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="entrustPeople != null">
        #{entrustPeople,jdbcType=VARCHAR},
      </if>
      <if test="entrustPhone != null">
        #{entrustPhone,jdbcType=VARCHAR},
      </if>
      <if test="witnessUint != null">
        #{witnessUint,jdbcType=VARCHAR},
      </if>
      <if test="witnessPerson != null">
        #{witnessPerson,jdbcType=VARCHAR},
      </if>
      <if test="witnessPhone != null">
        #{witnessPhone,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectPart != null">
        #{projectPart,jdbcType=VARCHAR},
      </if>
      <if test="samplingMethod != null">
        #{samplingMethod,jdbcType=INTEGER},
      </if>
      <if test="checkPurpose != null">
        #{checkPurpose,jdbcType=INTEGER},
      </if>
      <if test="reportCount != null">
        #{reportCount,jdbcType=INTEGER},
      </if>
      <if test="reportType != null">
        #{reportType,jdbcType=INTEGER},
      </if>
      <if test="requestDate != null">
        #{requestDate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentMethod != null">
        #{paymentMethod,jdbcType=INTEGER},
      </if>
      <if test="paymentRecord != null">
        #{paymentRecord,jdbcType=VARCHAR},
      </if>
      <if test="paymentCount != null">
        #{paymentCount,jdbcType=VARCHAR},
      </if>
      <if test="presentInformation != null">
        #{presentInformation,jdbcType=VARCHAR},
      </if>
      <if test="acceptanceDate != null">
        #{acceptanceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="team != null">
        #{team,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="invalidReason != null">
        #{invalidReason,jdbcType=VARCHAR},
      </if>
      <if test="operateUser != null">
        #{operateUser,jdbcType=INTEGER},
      </if>
      <if test="operateDate != null">
        #{operateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="fileUrl != null">
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="sealTypeId != null">
        #{sealTypeId,jdbcType=INTEGER},
      </if>
      <if test="isSave != null">
        #{isSave,jdbcType=VARCHAR},
      </if>
      <if test="entrustPeopleId != null">
        #{entrustPeopleId,jdbcType=INTEGER},
      </if>
      <if test="witnessPersonId != null">
        #{witnessPersonId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lims.manage.erp.entity.EntrustEntity">
    update test_entrusted
    <set>
      <if test="entrustmentNo != null">
        entrustment_no = #{entrustmentNo,jdbcType=VARCHAR},
      </if>
      <if test="entrustType != null">
        entrust_type = #{entrustType,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="entrustPeople != null">
        entrust_people = #{entrustPeople,jdbcType=VARCHAR},
      </if>
      <if test="entrustPhone != null">
        entrust_phone = #{entrustPhone,jdbcType=VARCHAR},
      </if>
      <if test="witnessUint != null">
        witness_uint = #{witnessUint,jdbcType=VARCHAR},
      </if>
      <if test="witnessPerson != null">
        witness_person = #{witnessPerson,jdbcType=VARCHAR},
      </if>
      <if test="witnessPhone != null">
        witness_phone = #{witnessPhone,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectPart != null">
        project_part = #{projectPart,jdbcType=VARCHAR},
      </if>
      <if test="samplingMethod != null">
        sampling_method = #{samplingMethod,jdbcType=INTEGER},
      </if>
      <if test="checkPurpose != null">
        check_purpose = #{checkPurpose,jdbcType=INTEGER},
      </if>
      <if test="reportCount != null">
        report_count = #{reportCount,jdbcType=INTEGER},
      </if>
      <if test="reportType != null">
        report_type = #{reportType,jdbcType=INTEGER},
      </if>
      <if test="requestDate != null">
        request_date = #{requestDate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentMethod != null">
        payment_method = #{paymentMethod,jdbcType=INTEGER},
      </if>
      <if test="paymentRecord != null">
        payment_record = #{paymentRecord,jdbcType=VARCHAR},
      </if>
      <if test="paymentCount != null">
        payment_count = #{paymentCount,jdbcType=VARCHAR},
      </if>
      <if test="presentInformation != null">
        present_information = #{presentInformation,jdbcType=VARCHAR},
      </if>
      <if test="acceptanceDate != null">
        acceptance_date = #{acceptanceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="team != null">
        team = #{team,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="invalidReason != null">
        invalid_reason = #{invalidReason,jdbcType=VARCHAR},
      </if>
      <if test="operateUser != null">
        operate_user = #{operateUser,jdbcType=INTEGER},
      </if>
      <if test="operateDate != null">
        operate_date = #{operateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="fileUrl != null">
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="sealTypeId != null">
        seal_type_id = #{sealTypeId,jdbcType=INTEGER},
      </if>
      <if test="isSave != null">
        is_save = #{isSave,jdbcType=VARCHAR},
      </if>
      <if test="entrustPeopleId != null">
        entrust_people_id = #{entrustPeopleId,jdbcType=INTEGER},
      </if>
      <if test="witnessPersonId != null">
        witness_person_id = #{witnessPersonId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lims.manage.erp.entity.EntrustEntity">
    update test_entrusted
    set entrustment_no = #{entrustmentNo,jdbcType=VARCHAR},
      entrust_type = #{entrustType,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=INTEGER},
      entrust_people = #{entrustPeople,jdbcType=VARCHAR},
      entrust_phone = #{entrustPhone,jdbcType=VARCHAR},
      witness_uint = #{witnessUint,jdbcType=VARCHAR},
      witness_person = #{witnessPerson,jdbcType=VARCHAR},
      witness_phone = #{witnessPhone,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_part = #{projectPart,jdbcType=VARCHAR},
      sampling_method = #{samplingMethod,jdbcType=INTEGER},
      check_purpose = #{checkPurpose,jdbcType=INTEGER},
      report_count = #{reportCount,jdbcType=INTEGER},
      report_type = #{reportType,jdbcType=INTEGER},
      request_date = #{requestDate,jdbcType=TIMESTAMP},
      payment_method = #{paymentMethod,jdbcType=INTEGER},
      payment_record = #{paymentRecord,jdbcType=VARCHAR},
      payment_count = #{paymentCount,jdbcType=VARCHAR},
      present_information = #{presentInformation,jdbcType=VARCHAR},
      acceptance_date = #{acceptanceDate,jdbcType=TIMESTAMP},
      team = #{team,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      invalid_reason = #{invalidReason,jdbcType=VARCHAR},
      operate_user = #{operateUser,jdbcType=INTEGER},
      operate_date = #{operateDate,jdbcType=TIMESTAMP},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      seal_type_id = #{sealTypeId,jdbcType=INTEGER},
      is_save = #{isSave,jdbcType=VARCHAR},
      entrust_people_id = #{entrustPeopleId,jdbcType=INTEGER},
      witness_person_id = #{witnessPersonId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.lims.manage.erp.entity.EntrustEntity">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="entrustment_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="entrust_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="company_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="entrust_people" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="entrust_phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="witness_uint" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="witness_person" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="witness_phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="project_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="project_part" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sampling_method" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="check_purpose" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="report_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="report_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="request_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="payment_method" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="payment_record" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="present_information" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="acceptance_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="team" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="state" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="invalid_reason" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="operate_user" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="operate_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="file_url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="seal_type_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_save" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="entrust_people_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="witness_person_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, entrustment_no, entrust_type, company_id, entrust_people, entrust_phone, witness_uint, 
    witness_person, witness_phone, project_name, project_part, sampling_method, check_purpose, 
    report_count, report_type, request_date, payment_method, payment_record, present_information, 
    acceptance_date, team, state, remark, invalid_reason, operate_user, operate_date, 
    file_url, seal_type_id, is_save, entrust_people_id, witness_person_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test_entrusted
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from test_entrusted
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lims.manage.erp.entity.EntrustEntity">
    insert into test_entrusted (id, entrustment_no, entrust_type, 
      company_id, entrust_people, entrust_phone, 
      witness_uint, witness_person, witness_phone, 
      project_name, project_part, sampling_method, 
      check_purpose, report_count, report_type, 
      request_date, payment_method, payment_record, 
      present_information, acceptance_date, team, 
      state, remark, invalid_reason, 
      operate_user, operate_date, file_url, 
      seal_type_id, is_save, entrust_people_id, 
      witness_person_id)
    values (#{id,jdbcType=INTEGER}, #{entrustmentNo,jdbcType=VARCHAR}, #{entrustType,jdbcType=INTEGER}, 
      #{companyId,jdbcType=INTEGER}, #{entrustPeople,jdbcType=VARCHAR}, #{entrustPhone,jdbcType=VARCHAR}, 
      #{witnessUint,jdbcType=VARCHAR}, #{witnessPerson,jdbcType=VARCHAR}, #{witnessPhone,jdbcType=VARCHAR}, 
      #{projectName,jdbcType=VARCHAR}, #{projectPart,jdbcType=VARCHAR}, #{samplingMethod,jdbcType=INTEGER}, 
      #{checkPurpose,jdbcType=INTEGER}, #{reportCount,jdbcType=INTEGER}, #{reportType,jdbcType=INTEGER}, 
      #{requestDate,jdbcType=TIMESTAMP}, #{paymentMethod,jdbcType=INTEGER}, #{paymentRecord,jdbcType=VARCHAR}, 
      #{presentInformation,jdbcType=VARCHAR}, #{acceptanceDate,jdbcType=TIMESTAMP}, #{team,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{invalidReason,jdbcType=VARCHAR}, 
      #{operateUser,jdbcType=INTEGER}, #{operateDate,jdbcType=TIMESTAMP}, #{fileUrl,jdbcType=VARCHAR}, 
      #{sealTypeId,jdbcType=INTEGER}, #{isSave,jdbcType=VARCHAR}, #{entrustPeopleId,jdbcType=INTEGER}, 
      #{witnessPersonId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lims.manage.erp.entity.EntrustEntity">
    insert into test_entrusted
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="entrustmentNo != null">
        entrustment_no,
      </if>
      <if test="entrustType != null">
        entrust_type,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="entrustPeople != null">
        entrust_people,
      </if>
      <if test="entrustPhone != null">
        entrust_phone,
      </if>
      <if test="witnessUint != null">
        witness_uint,
      </if>
      <if test="witnessPerson != null">
        witness_person,
      </if>
      <if test="witnessPhone != null">
        witness_phone,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="projectPart != null">
        project_part,
      </if>
      <if test="samplingMethod != null">
        sampling_method,
      </if>
      <if test="checkPurpose != null">
        check_purpose,
      </if>
      <if test="reportCount != null">
        report_count,
      </if>
      <if test="reportType != null">
        report_type,
      </if>
      <if test="requestDate != null">
        request_date,
      </if>
      <if test="paymentMethod != null">
        payment_method,
      </if>
      <if test="paymentRecord != null">
        payment_record,
      </if>
      <if test="presentInformation != null">
        present_information,
      </if>
      <if test="acceptanceDate != null">
        acceptance_date,
      </if>
      <if test="team != null">
        team,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="invalidReason != null">
        invalid_reason,
      </if>
      <if test="operateUser != null">
        operate_user,
      </if>
      <if test="operateDate != null">
        operate_date,
      </if>
      <if test="fileUrl != null">
        file_url,
      </if>
      <if test="sealTypeId != null">
        seal_type_id,
      </if>
      <if test="isSave != null">
        is_save,
      </if>
      <if test="entrustPeopleId != null">
        entrust_people_id,
      </if>
      <if test="witnessPersonId != null">
        witness_person_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="entrustmentNo != null">
        #{entrustmentNo,jdbcType=VARCHAR},
      </if>
      <if test="entrustType != null">
        #{entrustType,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="entrustPeople != null">
        #{entrustPeople,jdbcType=VARCHAR},
      </if>
      <if test="entrustPhone != null">
        #{entrustPhone,jdbcType=VARCHAR},
      </if>
      <if test="witnessUint != null">
        #{witnessUint,jdbcType=VARCHAR},
      </if>
      <if test="witnessPerson != null">
        #{witnessPerson,jdbcType=VARCHAR},
      </if>
      <if test="witnessPhone != null">
        #{witnessPhone,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectPart != null">
        #{projectPart,jdbcType=VARCHAR},
      </if>
      <if test="samplingMethod != null">
        #{samplingMethod,jdbcType=INTEGER},
      </if>
      <if test="checkPurpose != null">
        #{checkPurpose,jdbcType=INTEGER},
      </if>
      <if test="reportCount != null">
        #{reportCount,jdbcType=INTEGER},
      </if>
      <if test="reportType != null">
        #{reportType,jdbcType=INTEGER},
      </if>
      <if test="requestDate != null">
        #{requestDate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentMethod != null">
        #{paymentMethod,jdbcType=INTEGER},
      </if>
      <if test="paymentRecord != null">
        #{paymentRecord,jdbcType=VARCHAR},
      </if>
      <if test="presentInformation != null">
        #{presentInformation,jdbcType=VARCHAR},
      </if>
      <if test="acceptanceDate != null">
        #{acceptanceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="team != null">
        #{team,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="invalidReason != null">
        #{invalidReason,jdbcType=VARCHAR},
      </if>
      <if test="operateUser != null">
        #{operateUser,jdbcType=INTEGER},
      </if>
      <if test="operateDate != null">
        #{operateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="fileUrl != null">
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="sealTypeId != null">
        #{sealTypeId,jdbcType=INTEGER},
      </if>
      <if test="isSave != null">
        #{isSave,jdbcType=VARCHAR},
      </if>
      <if test="entrustPeopleId != null">
        #{entrustPeopleId,jdbcType=INTEGER},
      </if>
      <if test="witnessPersonId != null">
        #{witnessPersonId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lims.manage.erp.entity.EntrustEntity">
    update test_entrusted
    <set>
      <if test="entrustmentNo != null">
        entrustment_no = #{entrustmentNo,jdbcType=VARCHAR},
      </if>
      <if test="entrustType != null">
        entrust_type = #{entrustType,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="entrustPeople != null">
        entrust_people = #{entrustPeople,jdbcType=VARCHAR},
      </if>
      <if test="entrustPhone != null">
        entrust_phone = #{entrustPhone,jdbcType=VARCHAR},
      </if>
      <if test="witnessUint != null">
        witness_uint = #{witnessUint,jdbcType=VARCHAR},
      </if>
      <if test="witnessPerson != null">
        witness_person = #{witnessPerson,jdbcType=VARCHAR},
      </if>
      <if test="witnessPhone != null">
        witness_phone = #{witnessPhone,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectPart != null">
        project_part = #{projectPart,jdbcType=VARCHAR},
      </if>
      <if test="samplingMethod != null">
        sampling_method = #{samplingMethod,jdbcType=INTEGER},
      </if>
      <if test="checkPurpose != null">
        check_purpose = #{checkPurpose,jdbcType=INTEGER},
      </if>
      <if test="reportCount != null">
        report_count = #{reportCount,jdbcType=INTEGER},
      </if>
      <if test="reportType != null">
        report_type = #{reportType,jdbcType=INTEGER},
      </if>
      <if test="requestDate != null">
        request_date = #{requestDate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentMethod != null">
        payment_method = #{paymentMethod,jdbcType=INTEGER},
      </if>
      <if test="paymentRecord != null">
        payment_record = #{paymentRecord,jdbcType=VARCHAR},
      </if>
      <if test="presentInformation != null">
        present_information = #{presentInformation,jdbcType=VARCHAR},
      </if>
      <if test="acceptanceDate != null">
        acceptance_date = #{acceptanceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="team != null">
        team = #{team,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="invalidReason != null">
        invalid_reason = #{invalidReason,jdbcType=VARCHAR},
      </if>
      <if test="operateUser != null">
        operate_user = #{operateUser,jdbcType=INTEGER},
      </if>
      <if test="operateDate != null">
        operate_date = #{operateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="fileUrl != null">
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="sealTypeId != null">
        seal_type_id = #{sealTypeId,jdbcType=INTEGER},
      </if>
      <if test="isSave != null">
        is_save = #{isSave,jdbcType=VARCHAR},
      </if>
      <if test="entrustPeopleId != null">
        entrust_people_id = #{entrustPeopleId,jdbcType=INTEGER},
      </if>
      <if test="witnessPersonId != null">
        witness_person_id = #{witnessPersonId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lims.manage.erp.entity.EntrustEntity">
    update test_entrusted
    set entrustment_no = #{entrustmentNo,jdbcType=VARCHAR},
      entrust_type = #{entrustType,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=INTEGER},
      entrust_people = #{entrustPeople,jdbcType=VARCHAR},
      entrust_phone = #{entrustPhone,jdbcType=VARCHAR},
      witness_uint = #{witnessUint,jdbcType=VARCHAR},
      witness_person = #{witnessPerson,jdbcType=VARCHAR},
      witness_phone = #{witnessPhone,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_part = #{projectPart,jdbcType=VARCHAR},
      sampling_method = #{samplingMethod,jdbcType=INTEGER},
      check_purpose = #{checkPurpose,jdbcType=INTEGER},
      report_count = #{reportCount,jdbcType=INTEGER},
      report_type = #{reportType,jdbcType=INTEGER},
      request_date = #{requestDate,jdbcType=TIMESTAMP},
      payment_method = #{paymentMethod,jdbcType=INTEGER},
      payment_record = #{paymentRecord,jdbcType=VARCHAR},
      present_information = #{presentInformation,jdbcType=VARCHAR},
      acceptance_date = #{acceptanceDate,jdbcType=TIMESTAMP},
      team = #{team,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      invalid_reason = #{invalidReason,jdbcType=VARCHAR},
      operate_user = #{operateUser,jdbcType=INTEGER},
      operate_date = #{operateDate,jdbcType=TIMESTAMP},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      seal_type_id = #{sealTypeId,jdbcType=INTEGER},
      is_save = #{isSave,jdbcType=VARCHAR},
      entrust_people_id = #{entrustPeopleId,jdbcType=INTEGER},
      witness_person_id = #{witnessPersonId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>