<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stu.manage.demo.mapper.EntrustMapper">
    <select id="onceMore" parameterType="Integer" resultType="com.stu.manage.demo.entity.EntrustInfo">
        SELECT
            entrust_id entrustId,
            entrust_number entrustNumber,
            entrust_type entrustType,
            entrust_company_id entrustCompanyId,
            witness_company_name witnessCompanyName,
            project_id projectId,
            project_part projectPart,
            sample_receive_way sampleReceiveWay,
            check_purpose checkPurpose,
            report_num reportNum,
            report_get_way reportGetWay,
            entrust_note entrustNote,
            entrust_data entrustData
        FROM
            jt_entrust_info
        WHERE
            entrust_id = #{entrustId}
    </select>

    <select id="getSampleStat" resultType="com.stu.manage.demo.entity.SampleStatus">
        select DISTINCT a.sample_id As sampleId,a.sample_number As sampleCode,jri.flow_status As reportStat
    from jt_sample_info a
           inner join jt_report_info jri on a.sample_id = jri.sample_id
    where a.entrust_id=#{id}
    </select>

    <select id="getTaskStat" resultType="com.stu.manage.demo.entity.SampleStatus">
         select DISTINCT j.check_status As checkStat,j.task_notice_status As checkNoticeStat,d.sample_id As sampleId from jt_check_task j
            left join jt_entrust_check_item d on j.entrust_id=d.entrust_id
            where j.entrust_id=#{id}
    </select>
</mapper>