<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stu.manage.demo.mapper.EntrustMapper">
    <select id="onceMore" parameterType="Integer" resultType="com.stu.manage.demo.entity.EntrustInfo">
        SELECT
            entrust_id entrustId,
            entrust_number entrustNumber,
            entrust_type entrustType,
            entrust_company_id entrustCompanyId,
            witness_company_name witnessCompanyName,
            project_id projectId,
            project_part projectPart,
            sample_receive_way sampleReceiveWay,
            check_purpose checkPurpose,
            report_num reportNum,
            report_get_way reportGetWay,
            entrust_note entrustNote,
            entrust_data entrustData
        FROM
            jt_entrust_info
        WHERE
            entrust_id = #{entrustId}
    </select>

    <select id="getSampleInfo" parameterType="Integer" resultType="com.stu.manage.demo.entity.SampleInfoVo">
        SELECT
            T1.product_id productId,
            T2.product_name productName,
            T1.standard standard,
            T1.model_id model,
            T1.product_number batch,
            T1.object_count sampleCount,
            T1.product_company_name vendor,
            T1.sampleType sampleType
        FROM
            (
                SELECT
                    product_id,
                    '依据' standard,
                    model_id,
                    product_number,
                    object_count,
                    product_company_name,
                    '样品类型' sampleType
                FROM
                    jt_sample_object
                WHERE
                        sample_object_id IN ( SELECT DISTINCT sample_Id FROM jt_entrust_check_item WHERE entrust_id = #{entrustId} )
            ) T1
                LEFT JOIN d_product_msg T2 ON T1.product_id = T2.product_id
    </select>

    <select id="getCheckItemInfo" parameterType="Integer" resultType="com.stu.manage.demo.entity.CheckItemInfoVo">
        SELECT
            T1.product_id productId,
            T2.check_item_name checkItemName,
            CONCAT( T3.check_basis_doc_name, ',', T3.check_basis_code ) standard,
            T1.check_times checkTimes
        FROM
            jt_entrust_check_item T1
                LEFT JOIN d_product_check_item T2 ON T1.check_item_id = T2.check_item_id
                LEFT JOIN s_check_basis_code T3 ON T1.standard_id = T3.check_basis_id
        WHERE
            T1.entrust_id = #{entrustId}
    </select>
    <select id="getCheckItemsByProductId" parameterType="Integer" resultType="com.stu.manage.demo.entity.CheckItemCostVo">
        SELECT
            T1.check_item_id itemId,
            T1.check_item_name itemName,
            T2.cost itemCost
        FROM
            d_product_check_item T1
            LEFT JOIN d_product_cost T2 ON T1.check_item_id = T2.check_item_id
        WHERE
            is_valid = 1
          AND T1.product_id = #{productId}
    </select>
    <select id="getCheckBasisByProductId" parameterType="Integer" resultType="com.stu.manage.demo.entity.ProductVo">
        SELECT
            T1.check_basis_id value,
	        CONCAT(T2.check_basis_doc_name,',',T2.check_basis_code) text
        FROM
            ( SELECT DISTINCT check_basis_id FROM d_product_check_basis_info WHERE product_id = #{productId} ) T1
            LEFT JOIN s_check_basis_code T2 ON T1.check_basis_id = T2.check_basis_id
    </select>

    <select id="getSampleStat" resultType="com.stu.manage.demo.entity.SampleStatus">
        select DISTINCT a.sample_id As sampleId,a.sample_number As sampleCode,jri.flow_status As reportStat
    from jt_sample_info a
           inner join jt_report_info jri on a.sample_id = jri.sample_id
    where a.entrust_id=#{id}
    </select>

    <select id="getTaskStat" resultType="com.stu.manage.demo.entity.SampleStatus">
         select DISTINCT j.check_status As checkStat,j.task_notice_status As checkNoticeStat,d.sample_id As sampleId from jt_check_task j
            left join jt_entrust_check_item d on j.entrust_id=d.entrust_id
            where j.entrust_id=#{id}
    </select>

</mapper>