<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lims.manage.erp.mapper.InstrumentRecordEntityMapper">
    <resultMap id="BaseResultMap" type="com.lims.manage.erp.entity.InstrumentRecordEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="instrument_id" property="instrumentId" jdbcType="BIGINT"/>
        <result column="esc_rel_id" property="escRelId" jdbcType="BIGINT"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="temperature" property="temperature" jdbcType="VARCHAR"/>
        <result column="humidity" property="humidity" jdbcType="VARCHAR"/>
        <result column="before_status" property="beforeStatus" jdbcType="VARCHAR"/>
        <result column="after_status" property="afterStatus" jdbcType="VARCHAR"/>
        <result column="user" property="user" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="TIMESTAMP"/>
        <result column="task_id" property="taskId" jdbcType="BIGINT"/>
        <result column="task_code" property="taskCode" jdbcType="VARCHAR"/>
        <result column="parallel" property="parallel" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , instrument_id, esc_rel_id, type, start_time, end_time, temperature, humidity,
    before_status, after_status, user, time,task_id,task_code,parallel
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from test_instrument_use_record
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from test_instrument_use_record
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.lims.manage.erp.entity.InstrumentRecordEntity">
        insert into test_instrument_use_record (id, instrument_id, esc_rel_id,
                                                type, start_time, end_time,
                                                temperature, humidity, before_status,
                                                after_status, user, time,task_id,task_code,parallel)
        values (#{id,jdbcType=BIGINT}, #{instrumentId,jdbcType=BIGINT}, #{escRelId,jdbcType=BIGINT},
                #{type,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP},
                #{temperature,jdbcType=VARCHAR}, #{humidity,jdbcType=VARCHAR}, #{beforeStatus,jdbcType=VARCHAR},
                #{afterStatus,jdbcType=VARCHAR}, #{user,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP},#{taskId,jdbcType=BIGINT}
                   , #{taskCode,jdbcType=VARCHAR},#{parallel,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.lims.manage.erp.entity.InstrumentRecordEntity">
        insert into test_instrument_use_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="instrumentId != null">
                instrument_id,
            </if>
            <if test="escRelId != null">
                esc_rel_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="temperature != null">
                temperature,
            </if>
            <if test="humidity != null">
                humidity,
            </if>
            <if test="beforeStatus != null">
                before_status,
            </if>
            <if test="afterStatus != null">
                after_status,
            </if>
            <if test="user != null">
                user,
            </if>
            <if test="time != null">
                time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="instrumentId != null">
                #{instrumentId,jdbcType=BIGINT},
            </if>
            <if test="escRelId != null">
                #{escRelId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="temperature != null">
                #{temperature,jdbcType=VARCHAR},
            </if>
            <if test="humidity != null">
                #{humidity,jdbcType=VARCHAR},
            </if>
            <if test="beforeStatus != null">
                #{beforeStatus,jdbcType=VARCHAR},
            </if>
            <if test="afterStatus != null">
                #{afterStatus,jdbcType=VARCHAR},
            </if>
            <if test="user != null">
                #{user,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lims.manage.erp.entity.InstrumentRecordEntity">
        update test_instrument_use_record
        <set>
            <if test="instrumentId != null">
                instrument_id = #{instrumentId,jdbcType=BIGINT},
            </if>
            <if test="escRelId != null">
                esc_rel_id = #{escRelId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="temperature != null">
                temperature = #{temperature,jdbcType=VARCHAR},
            </if>
            <if test="humidity != null">
                humidity = #{humidity,jdbcType=VARCHAR},
            </if>
            <if test="beforeStatus != null">
                before_status = #{beforeStatus,jdbcType=VARCHAR},
            </if>
            <if test="afterStatus != null">
                after_status = #{afterStatus,jdbcType=VARCHAR},
            </if>
            <if test="user != null">
                user = #{user,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lims.manage.erp.entity.InstrumentRecordEntity">
        update test_instrument_use_record
        set instrument_id = #{instrumentId,jdbcType=BIGINT},
            esc_rel_id    = #{escRelId,jdbcType=BIGINT},
            type          = #{type,jdbcType=VARCHAR},
            start_time    = #{startTime,jdbcType=TIMESTAMP},
            end_time      = #{endTime,jdbcType=TIMESTAMP},
            temperature   = #{temperature,jdbcType=VARCHAR},
            humidity      = #{humidity,jdbcType=VARCHAR},
            before_status = #{beforeStatus,jdbcType=VARCHAR},
            after_status  = #{afterStatus,jdbcType=VARCHAR},
            user          = #{user,jdbcType=VARCHAR},
            time          = #{time,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="getInstrumentRecordByTime" resultType="com.lims.manage.erp.vo.InstrumentRecordVo"
            parameterType="com.lims.manage.erp.vo.DeviceUseTimeVo">
        SELECT t3.task_code,
               t1.start_time,
               t1.end_time
        FROM test_instrument_use_record t1
                 LEFT JOIN test_entrusted_sample_checkitem_rel t2 ON t1.esc_rel_id = t2.id
                 LEFT JOIN test_task t3 ON t2.task_id = t3.id
        WHERE t1.instrument_id = #{deviceId}
          AND t1.end_time >= STR_TO_DATE(#{startTime}, '%Y-%m-%d %H:%i:%s')
        ORDER BY t1.start_time
    </select>

    <select id="checkTime" resultMap="BaseResultMap"
            parameterType="com.lims.manage.erp.vo.DeviceUseTimeVo">
        SELECT id,
               instrument_id,
               esc_rel_id,
               type,
               start_time,
               end_time,
               temperature,
               humidity,
               before_status,
               after_status,
               USER,
            time
        FROM
            test_instrument_use_record t1
        WHERE
            t1.instrument_id = #{deviceId}
          AND t1.start_time
         &lt; STR_TO_DATE( #{startTime}
            , '%Y-%m-%d %H:%i:%s' )
          AND t1.end_time
         &gt; STR_TO_DATE( #{startTime}
            , '%Y-%m-%d %H:%i:%s' )
        UNION ALL
        SELECT id,
               instrument_id,
               esc_rel_id,
               type,
               start_time,
               end_time,
               temperature,
               humidity,
               before_status,
               after_status,
               USER,
            time
        FROM
            test_instrument_use_record t1
        WHERE
            t1.instrument_id = #{deviceId}
          AND t1.start_time
         &lt; STR_TO_DATE( #{endTime}
            , '%Y-%m-%d %H:%i:%s' )
          AND t1.end_time
         &gt; STR_TO_DATE( #{endTime}
            , '%Y-%m-%d %H:%i:%s' )
    </select>

    <select id="getInstrumentRecord" resultType="com.lims.manage.erp.vo.InstrumentRecordListVo"
            parameterType="com.lims.manage.erp.vo.InstrumentRecordParamVo">
        SELECT
        t1.id recordId,
        t2.CODE instrumentCode,
        t2.NAME instrumentName,
        t2.model instrumentModel,
        t4.task_code taskCode,
        CONCAT( t6.product_name, "（", t3.check_item_name, "）" ) checkItem,
        t1.temperature,
        t1.humidity,
        t1.start_time startTime,
        t1.end_time endTime,
        t1.type,
        t1.USER,
        t1.before_status beforeStatus,
        t1.after_status afterStatus
        FROM
        test_instrument_use_record t1
        LEFT JOIN test_instrument t2 ON t1.instrument_id = t2.id
        LEFT JOIN test_entrusted_sample_checkitem_rel t3 ON t1.esc_rel_id = t3.id
        LEFT JOIN test_task t4 ON t3.task_id = t4.id
        LEFT JOIN test_product_item t5 ON t3.check_item_id = t5.check_item_id
        LEFT JOIN test_product t6 ON t5.product_id = t6.product_id
        <where>
                t1.instrument_id = #{instrumentId}
            <if test="taskCode!=null">
                and t4.task_code LIKE CONCAT('%',#{taskCode},'%')
            </if>
            <if test="instrumentCode!=null">
                and t2.code LIKE CONCAT('%',#{instrumentCode},'%')
            </if>
            <if test="instrumentName!=null">
                and t2.name LIKE CONCAT('%',#{instrumentName},'%')
            </if>
            <if test="startTime!=null">
                and t1.start_time &gt;= STR_TO_DATE( #{startTime}, '%Y-%m-%d %H:%i:%s' )
            </if>
            <if test="endTime!=null">
                and t1.end_time &lt;= STR_TO_DATE( #{endTime}, '%Y-%m-%d %H:%i:%s' )
            </if>
        </where>
        order by t1.time desc
    </select>

    <select id="getInstrumentInfo" resultType="java.lang.String"
            parameterType="java.lang.Long">
        SELECT
            CONCAT( CODE, NAME, model )
        FROM
            test_instrument
        WHERE
            id = #{instrumentId}
    </select>

    <delete id="deleteByEscRelId" parameterType="java.lang.Integer">
        delete
        from test_instrument_use_record
        where esc_rel_id = #{escRelId}
    </delete>

    <select id="getIds" resultType="com.lims.manage.erp.vo.InstrumentAppVo">
        SELECT
            id AS recordId,
            instrument_id AS id,
            esc_rel_id AS escRelId,
            task_id AS taskId
        FROM
            test_instrument_use_record
        WHERE
            id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.recordId}
        </foreach>
    </select>

    <select id="checkDeviceStatus" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
            t1.id,
            t1.instrument_id,
            t1.esc_rel_id,
            t1.type,
            t1.start_time,
            t1.end_time,
            t1.temperature,
            t1.humidity,
            t1.before_status,
            t1.after_status,
            t1.USER,
            t1.time,
            t1.task_id,
            t2.task_code
        FROM
            test_instrument_use_record t1
                LEFT JOIN test_task t2 ON t1.task_id = t2.id
        WHERE
            instrument_id = #{instrumentId}
          AND end_time IS NULL
            LIMIT 1
    </select>

    <select id="checkDeviceStartTime" resultMap="BaseResultMap">
        SELECT id,
               instrument_id,
               esc_rel_id,
               type,
               start_time,
               end_time,
               temperature,
               humidity,
               before_status,
               after_status,
               USER,
               time,
               task_id,
               task_code
        FROM
            test_instrument_use_record
        WHERE
            instrument_id = #{instrumentId}
          AND start_time
         &lt; STR_TO_DATE( #{startTime}
            , '%Y-%m-%d %H:%i:%s' )
          AND end_time
         &gt; STR_TO_DATE( #{startTime}
            , '%Y-%m-%d %H:%i:%s' )
    </select>

    <select id="checkDeviceUseInfo" resultType="com.lims.manage.erp.entity.InstrumentUseGroup">
        select * from test_instrument_group where instrument_id = #{instrumentId} limit 1
    </select>

    <select id="getGroupInfo" resultType="com.lims.manage.erp.entity.InstrumentUseGroup">
        select * from test_instrument_group where instrument_id = #{instrumentId}
    </select>

    <select id="taskStatus" resultType="java.lang.Integer">
        select count(*) from test_instrument_group where state = 1 and instrument_id = #{instrumentId}
    </select>

    <select id="useSize" resultType="java.lang.Integer">
        select sum(parallel) from test_instrument_group where instrument_id = #{instrumentId}
    </select>

    <insert id="insertGroup" parameterType="com.lims.manage.erp.entity.InstrumentUseGroup">
        insert into test_instrument_group (instrument_id, user, task_id,
                                                task_code, state, parallel,esc_rel_ids)
        values (#{instrumentId},#{user},#{taskId},#{taskCode},#{state},#{parallel},#{escRelIds})
    </insert>

    <insert id="batchInsertGroup" parameterType="com.lims.manage.erp.entity.InstrumentUseGroup">
        insert into test_instrument_group (instrument_id, user, task_id,
                                                task_code, state, parallel,esc_rel_ids)
        values
        <foreach collection="records" item="item" open="" separator="," close="">
               (#{item.instrumentId},#{item.user},#{item.taskId},#{item.taskCode},
                #{item.state},#{item.parallel},#{item.escRelIds})
        </foreach>
    </insert>

    <delete id="deleteGroup" parameterType="com.lims.manage.erp.entity.InstrumentUseGroup">
        delete
        from test_instrument_group
        where instrument_id = #{instrumentId,jdbcType=BIGINT} and task_id = #{taskId,jdbcType=BIGINT}
    </delete>

    <delete id="deleteGroupByInstrumentId" parameterType="java.lang.Long">
        delete
        from test_instrument_group
        where instrument_id = #{instrumentId,jdbcType=BIGINT}
    </delete>

    <insert id="batchInsert" parameterType="com.lims.manage.erp.entity.InstrumentRecordEntity">
        insert into test_instrument_use_record (id, instrument_id, esc_rel_id,
                                                type, start_time, end_time,
                                                temperature, humidity, before_status,
                                                after_status, user, time,task_id,task_code,parallel)
        values
        <foreach collection="records" item="item" open="" separator="," close="">
               (#{item.id,jdbcType=BIGINT}, #{item.instrumentId,jdbcType=BIGINT}, #{item.escRelId,jdbcType=BIGINT},
                #{item.type,jdbcType=VARCHAR}, #{item.startTime,jdbcType=TIMESTAMP}, #{item.endTime,jdbcType=TIMESTAMP},
                #{item.temperature,jdbcType=VARCHAR}, #{item.humidity,jdbcType=VARCHAR}, #{item.beforeStatus,jdbcType=VARCHAR},
                #{item.afterStatus,jdbcType=VARCHAR}, #{item.user,jdbcType=VARCHAR}, #{item.time,jdbcType=TIMESTAMP},
                #{item.taskId,jdbcType=BIGINT}, #{item.taskCode,jdbcType=VARCHAR},#{item.parallel,jdbcType=INTEGER})
        </foreach>
    </insert>

    <update id="updateGroupState" parameterType="java.lang.Long">
        update test_instrument_group
        set state = 1
        where instrument_id = #{instrumentId}
    </update>

    <update id="updateRecordEndTime">
        UPDATE test_instrument_use_record
        set end_time = #{endTime},
            after_status = #{deviceState}
        WHERE instrument_id = #{intrusmentId}
        and end_time is null
        and esc_rel_id in
        <foreach collection="escRelIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="getInstrumentUseTime" resultType="com.lims.manage.erp.vo.InstrumentRecordVo">
        SELECT
            t1.instrument_id,
            t1.start_time,
            t1.end_time,
            sum( t1.parallel ) parallel,
            #{parallel}-sum( parallel ) sampleSize
        FROM
            (
                SELECT
                    instrument_id,
                    start_time,
                    end_time,
                    task_id,
                    ROUND( AVG( parallel ) ) parallel
                FROM
                    test_instrument_use_record
                WHERE
                    instrument_id = #{id}
                and <![CDATA[ DATE_FORMAT(start_time, '%Y-%m-%d %H:%i:%S') >=  DATE_FORMAT(#{startTime}, '%Y-%m-%d %H:%i:%S') ]]>
                and <![CDATA[ DATE_FORMAT(end_time, '%Y-%m-%d %H:%i:%S') <=  DATE_FORMAT(#{endTime}, '%Y-%m-%d %H:%i:%S') ]]>
	            GROUP BY
                    start_time,
                    end_time,
                    task_id
            ) t1
        GROUP BY
            t1.start_time,
            t1.end_time
        ORDER BY
            t1.start_time
    </select>

    <select id="getRecordInfo" resultType="com.lims.manage.erp.entity.InstrumentRecordEntity">
        SELECT
            *
        FROM
            test_instrument_use_record
        WHERE
            instrument_id = #{id}
          AND start_time = #{startTime}
          AND end_time = #{endTime} limit 1
    </select>

    <select id="getGroupInfoDetail" resultType="com.lims.manage.erp.entity.InstrumentUseGroup">
        SELECT
            *
        FROM
            test_instrument_group
        WHERE
            instrument_id = #{instrumentId}
          AND task_id = #{taskId}
    </select>

    <update id="batchUpdateGroup" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE test_instrument_group
            <trim prefix="SET" suffixOverrides=",">
                <if test="item.escRelIds!=null">esc_rel_ids=#{item.escRelIds},</if>
            </trim>
            where instrument_id = #{item.instrumentId}
            and task_id = #{item.taskId}
        </foreach>
    </update>
</mapper>