<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.stu.manage.demo.mapper.JtEntrustCheckInfoMapper">

    <resultMap id="BaseResultMap" type="com.stu.manage.demo.entity.JtEntrustCheckInfo">
        <id column="entrust_id" jdbcType="INTEGER" property="entrustId" />
        <result column="sample_status_desc" jdbcType="VARCHAR" property="sampleStatusDesc" />
        <result column="sample_stay" jdbcType="INTEGER" property="sampleStay" />
        <result column="cost" jdbcType="VARCHAR" property="cost" />
        <result column="pay_mode" jdbcType="INTEGER" property="payMode" />
        <result column="pay" jdbcType="VARCHAR" property="pay" />
        <result column="standard_cost" jdbcType="VARCHAR" property="standardCost" />
        <result column="accept_user_id" jdbcType="INTEGER" property="acceptUserId" />
        <result column="accept_time" jdbcType="TIMESTAMP" property="acceptTime" />
        <result column="end_plan_date" jdbcType="TIMESTAMP" property="endPlanDate" />
        <result column="source" jdbcType="INTEGER" property="source" />
        <result column="pay_mode_name" jdbcType="INTEGER" property="payModeName" />
        <result column="user_name" jdbcType="INTEGER" property="userName" />
        <result column="entrust_source_name" jdbcType="INTEGER" property="entrustSourceName" />
    </resultMap>

    <insert id="insertSelective" parameterType="com.stu.manage.demo.entity.JtEntrustCheckInfo">
        insert into jt_entrust_check_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entrustId != null">
                entrust_id,
            </if>
            <if test="standardCost != null">
                standard_cost,
            </if>
            <if test="sampleStatusDesc != null">
                sample_status_desc,
            </if>
            <if test="sampleStay != null">
                sample_stay,
            </if>
            <if test="cost != null">
                cost,
            </if>
            <if test="payMode != null">
                pay_mode,
            </if>
            <if test="pay != null">
                pay,
            </if>
            <if test="acceptUserId != null">
                accept_user_id,
            </if>
            <if test="acceptTime != null">
                accept_time,
            </if>
            <if test="endPlanDate != null">
                end_plan_date,
            </if>
            <if test="source != null">
                source,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entrustId != null">
                #{entrustId,jdbcType=INTEGER},
            </if>
            <if test="standardCost != null">
                #{standardCost,jdbcType=VARCHAR},
            </if>
            <if test="sampleStatusDesc != null">
                #{sampleStatusDesc,jdbcType=VARCHAR},
            </if>
            <if test="sampleStay != null">
                #{sampleStay,jdbcType=INTEGER},
            </if>
            <if test="cost != null">
                #{cost,jdbcType=VARCHAR},
            </if>
            <if test="payMode != null">
                #{payMode,jdbcType=INTEGER},
            </if>
            <if test="pay != null">
                #{pay,jdbcType=VARCHAR},
            </if>
            <if test="acceptUserId != null">
                #{acceptUserId,jdbcType=INTEGER},
            </if>
            <if test="acceptTime != null">
                #{acceptTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endPlanDate != null">
                #{endPlanDate,jdbcType=TIMESTAMP},
            </if>
            <if test="source != null">
                #{source,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

</mapper>