<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.stu.manage.demo.mapper.JtEntrustProductMapper">

    <insert id="insertSelective" parameterType="com.stu.manage.demo.entity.JtEntrustProduct">
        insert into jt_entrust_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entrustProductId != null">
                entrust_product_id,
            </if>
            <if test="entrustId != null">
                entrust_Id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entrustProductId != null">
                #{entrustProductId,jdbcType=INTEGER},
            </if>
            <if test="entrustId != null">
                #{entrustId,jdbcType=INTEGER},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>



</mapper>