<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.stu.manage.demo.mapper.JtReportInfoMapper">

    <insert id="insertSelective" parameterType="com.stu.manage.demo.entity.JtReportInfo">
        insert into jt_report_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reportId != null">
                report_id,
            </if>
            <if test="checkId != null">
                check_id,
            </if>
            <if test="submitTime != null">
                submit_time,
            </if>
            <if test="fileId != null">
                file_id,
            </if>
            <if test="reportType != null">
                report_type,
            </if>
            <if test="reportForm != null">
                report_form,
            </if>
            <if test="reportDate != null">
                report_date,
            </if>
            <if test="reportModality != null">
                report_modality,
            </if>
            <if test="reportFinishDate != null">
                report_finish_date,
            </if>
            <if test="reportNumber != null">
                report_number,
            </if>
            <if test="flowStatus != null">
                flow_status,
            </if>
            <if test="sampleId != null">
                sample_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reportId != null">
                #{reportId,jdbcType=INTEGER},
            </if>
            <if test="checkId != null">
                #{checkId,jdbcType=INTEGER},
            </if>
            <if test="submitTime != null">
                #{submitTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fileId != null">
                #{fileId,jdbcType=INTEGER},
            </if>
            <if test="reportType != null">
                #{reportType,jdbcType=VARCHAR},
            </if>
            <if test="reportForm != null">
                #{reportForm,jdbcType=VARCHAR},
            </if>
            <if test="reportDate != null">
                #{reportDate,jdbcType=TIMESTAMP},
            </if>
            <if test="reportModality != null">
                #{reportModality,jdbcType=INTEGER},
            </if>
            <if test="reportFinishDate != null">
                #{reportFinishDate,jdbcType=TIMESTAMP},
            </if>
            <if test="reportNumber != null">
                #{reportNumber,jdbcType=VARCHAR},
            </if>
            <if test="flowStatus != null">
                #{flowStatus,jdbcType=INTEGER},
            </if>
            <if test="sampleId != null">
                #{sampleId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>





</mapper>