<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lims.manage.erp.mapper.ReportMapper">

    <resultMap id="reportDetailMap" type="com.lims.manage.erp.vo.ReportDetailVo">
        <result property="id" column="id"></result>
        <result property="reportCount" column="report_count"></result>
        <result property="reportType" column="report_type"></result>
        <result property="taskCode" column="task_code"></result>
        <result property="sampleName" column="sample_name"></result>
        <result property="productId" column="product_id1"></result>
        <result property="countPrice" column="count_price"></result>
        <result property="requestDate" column="request_date"></result>
        <collection property="samples" ofType="com.lims.manage.erp.vo.ReportSampleDetailVo">
            <id property="sampleId" column="sample_id"></id>
            <result property="productId" column="product_id"></result>
            <result property="sampleCode" column="sample_code"></result>
            <result property="sampleName" column="sample_name1"></result>
            <result property="specs" column="specs"></result>
            <!--            <result property="standard" column="batch_number"></result>-->
            <result property="outward" column="outward"></result>
            <collection property="checkItems" ofType="com.lims.manage.erp.vo.ReportCheckItemDetailVo">
                <id property="checkItemId" column="check_item_id"></id>
                <result property="state" column="state"></result>
                <result property="checkItemName" column="check_item_name"></result>
                <result property="specsContent" column="specs_content"></result>
                <result property="checkResult" column="check_result"></result>
                <result property="judgeResult" column="judge_result"></result>
                <result property="coordinate" column="coordinate"></result>
                <collection property="specsContents" ofType="com.lims.manage.erp.vo.ReportSpecsContentVo">
                    <result property="value" column="value"></result>
                    <result property="label" column="label"></result>
                </collection>
            </collection>
        </collection>
    </resultMap>

    <select id="getReportDetail" resultMap="reportDetailMap">
        SELECT t1.id,
               t1.report_count,
               t1.report_type,
               t2.task_code,
               t4.product_id product_id1,
               t4.sample_name,
               t1.count_price,
            DATE (t1.request_date) request_date,
            t3.sample_id,
            t4.sample_code,
            t4.sample_name sample_name1,
            t4.specs,
            t4.outward,
            t4.product_id,
            t5.state,
            t6.check_item_id,
            t6.check_item_name,
            t9.specs_content,
            t9.check_result,
            t9.judge_result,
            t6.coordinate,
            t7.specs_content value,
            CONCAT(t7.check_basis_code, ":", t7.condition_value) label
        FROM
            test_entrusted_info t1
            LEFT JOIN test_task t2
        ON t2.entrustment_id = t1.id
            LEFT JOIN test_entrusted_sample_details_rel t3 ON t1.id = t3.entrustment_id
            LEFT JOIN test_sample t4 ON t3.sample_id = t4.id
            LEFT JOIN test_entrusted_sample_checkitem_rel t5 ON t1.id = t5.entrust_id
            AND t4.id = t5.sample_id
            LEFT JOIN test_product_item t6 ON t5.check_item_id = t6.check_item_id
            LEFT JOIN test_report_qualifcation t7 ON t6.check_item_id = t7.check_item_id
            left join test_report_record t8 on t1.id = t8.entrustment_id
            left join test_report_record_detail t9 on t8.id = t9.record_id and t5.check_item_id = t9.check_item_id
        WHERE t1.id = #{id}
    </select>

    <select id="getReportList" resultType="com.lims.manage.erp.vo.ReportListVo">
        SELECT DISTINCT t1.id,
                        t2.task_code,
                        t4.sample_name,
                        t1.count_price,
                        t1.request_date
        FROM test_entrusted_info t1
                 LEFT JOIN test_task t2 ON t2.entrustment_id = t1.id
                 LEFT JOIN test_entrusted_sample_details_rel t3 ON t1.id = t3.entrustment_id
                 LEFT JOIN test_sample t4 ON t3.sample_id = t4.id
                 left join test_entrusted_sample_checkitem_rel t5 on t1.id = t5.entrust_id and t4.id = t5.sample_id
        where t2.task_code is not null
          and t5.state = 3
    </select>

    <select id="getReportList_history" resultType="com.lims.manage.erp.vo.ReportListVo">
         SELECT
         id,
         task_code as taskCode,
         sample_name as sampleName,
         price as countPrice,
         required_completion_time as requestDate,
        operate_time as operateTime
         FROM
         test_report_record
         WHERE state !=2
         <if test="taskCode!=null and taskCode!=''">
             and task_code  LIKE CONCAT('%',#{taskCode},'%')
         </if>
        </select>

    <select id="getReportDetailHistory" resultMap="reportDetailMap">
    SELECT
	t1.id as id,
    t1.task_code as task_code,
    t1.sample_name as sample_name,
    t1.price as count_price,
    t1.required_completion_time as requestDate,
    t1.operate_time as operateTime,
	t2.check_item_name as checkItemName,
	t2.specs_content as specsContent,
	t2.check_result checkResult,
	t2.judge_result as judgeResult
FROM
	test_report_record  as t1
	LEFT JOIN test_report_record_detail as t2 ON t1.id = t2.record_id
WHERE
	t1.state !=2
	and t1.id = #{id}
    </select>
</mapper>