<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lims.manage.erp.mapper.ReportMapper">

    <resultMap id="reportDetailMap" type="com.lims.manage.erp.vo.ReportDetailVo">
        <result property="id" column="id"></result>
        <result property="taskFlowId" column="taskFlowId"></result>
        <result property="reportCount" column="report_count"></result>
        <result property="reportType" column="report_type"></result>
        <result property="taskCode" column="task_code"></result>
<!--        <result property="sampleName" column="sample_name"></result>-->
<!--        <result property="productId" column="product_id1"></result>-->
        <result property="countPrice" column="count_price"></result>
        <result property="requestDate" column="request_date"></result>
        <result property="entrustTestType" column="entrust_test_type"></result>
        <collection property="samples" ofType="com.lims.manage.erp.vo.ReportSampleDetailVo">
            <id property="sampleId" column="sample_id"></id>
            <result property="productId" column="product_id"></result>
            <result property="sampleCode" column="sample_code"></result>
            <result property="sampleName" column="sample_name1"></result>
            <result property="specs" column="specs"></result>
            <!--            <result property="standard" column="batch_number"></result>-->
            <result property="outward" column="outward"></result>
            <collection property="checkItems" ofType="com.lims.manage.erp.vo.ReportCheckItemDetailVo">
                <id property="id" column="id_item"></id>
                <result property="checkItemId" column="check_item_id"></result>
                <result property="state" column="state"></result>
                <result property="checkItemName" column="check_item_name"></result>
                <result property="specsContent" column="specs_content"></result>
                <result property="checkResult" column="check_result"></result>
                <result property="judgeResult" column="judge_result"></result>
                <result property="coordinate" column="coordinate"></result>
                <result property="originUrl" column="origin_url"></result>
                <result property="sampleId" column="sample_id"></result>
                <result property="taskId" column="task_id"></result>
                <collection property="specsContents" ofType="com.lims.manage.erp.vo.ReportSpecsContentVo">
                    <result property="value" column="value"></result>
                    <result property="label" column="label"></result>
                </collection>
            </collection>
        </collection>
    </resultMap>

    <resultMap id="reportCheckMap" type="com.lims.manage.erp.vo.ReportHistoryDetailVo">
        <result property="sampleName" column="sample_name"></result>
        <collection property="checkItemInfo" ofType="com.lims.manage.erp.entity.ReportRecordDetailEntity">
            <result property="checkItemName" column="check_item_name"></result>
            <result property="checkItemId" column="check_item_id"></result>
            <result property="specsContent" column="specs_content"></result>
            <result property="checkResult" column="check_result"></result>
            <result property="judgeResult" column="judge_result"></result>
        </collection>
    </resultMap>

    <select id="getReportDetail1" resultMap="reportDetailMap">
        SELECT t1.id,
               t1.report_count,
               t1.report_type,
               t2.task_code,
               t4.product_id product_id1,
               t4.sample_name,
               t1.count_price,
            DATE (t1.request_date) request_date,
            t3.sample_id,
            t4.sample_code,
            t4.sample_name sample_name1,
            t4.specs,
            t4.outward,
            t4.product_id,
            t5.id id_item,
            t5.state,
            t6.check_item_id,
            t6.check_item_name,
            t9.specs_content,
            t9.check_result,
            t9.judge_result,
            t6.coordinate,
            t7.specs_content value,
            CONCAT(t7.check_basis_code, ":", t7.condition_value) label
        FROM
            test_entrusted_info t1
            LEFT JOIN test_task t2
        ON t2.entrustment_id = t1.id
            LEFT JOIN test_entrusted_sample_details_rel t3 ON t1.id = t3.entrustment_id
            LEFT JOIN test_sample t4 ON t3.sample_id = t4.id
            LEFT JOIN test_entrusted_sample_checkitem_rel t5 ON t1.id = t5.entrust_id
            AND t4.id = t5.sample_id
            LEFT JOIN test_product_item t6 ON t5.check_item_id = t6.check_item_id
            LEFT JOIN test_report_qualifcation t7 ON t6.check_item_id = t7.check_item_id
            left join test_report_record t8 on t1.id = t8.entrustment_id
            left join test_report_record_detail t9 on t8.id = t9.record_id and t5.check_item_id = t9.check_item_id
        WHERE t1.id = #{id}
    </select>

    <select id="getReportDetail" resultMap="reportDetailMap">
        SELECT t1.id,
               t1.report_count,
               t1.report_type,
               t2.task_code,
--                t4.product_id product_id1,
--                t4.sample_name,
               t1.count_price,
            DATE (t1.request_date) request_date,
            t3.sample_id,
            t4.sample_code,
            t4.alias_name sample_name1,
            t4.specs,
            t4.outward,
            t4.product_id,
            t5.id id_item,
            t5.state,
            t5.origin_url,
            t6.check_item_id,
            t5.check_item_name,
            t9.specs_content,
            t9.check_result,
            t9.judge_result,
            t6.coordinate,
            t7.specs_content value,
            CONCAT(t7.check_basis_code, ":", t7.condition_value) label
        FROM
            test_entrusted_info t1
            LEFT JOIN test_task t2
        ON t2.entrustment_id = t1.id
            LEFT JOIN test_entrusted_sample_details_rel t3 ON t1.id = t3.entrustment_id
            LEFT JOIN test_sample t4 ON t3.sample_id = t4.id
            LEFT JOIN test_entrusted_sample_checkitem_rel t5 ON t1.id = t5.entrust_id
            AND t4.id = t5.sample_id
            LEFT JOIN test_product_item t6 ON t5.check_item_id = t6.check_item_id
            LEFT JOIN test_report_qualifcation t7 ON t6.check_item_id = t7.check_item_id
            left join test_report_record t8 on t1.id = t8.entrustment_id
            left join test_report_record_detail t9 on t8.id = t9.record_id
            AND t5.check_item_id = t9.check_item_id
            AND t2.id = t9.task_id
            AND t4.id = t9.sample_id
        WHERE t2.id = #{taskId} and t5.task_id = #{taskId}
        <if test="deptIds!=null">
            and t5.dept_id in
            <foreach collection="deptIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="getReportDetailZj" resultMap="reportDetailMap">
        SELECT t1.id,
        t1.report_count,
        t1.report_type,
        t2.task_code,
        --                t4.product_id product_id1,
        --                t4.sample_name,
        t1.count_price,
        DATE (t1.request_date) request_date,
        t3.sample_id,
        t4.sample_code,
        t4.sample_name sample_name1,
        t4.alias_name alias_name,
        t4.specs,
        t4.outward,
        t4.product_id,
        t5.id id_item,
        t5.state,
        t5.origin_url,
        t6.check_item_id,
        t5.check_item_name,
        t9.specs_content,
        t9.check_result,
        t9.judge_result,
        t6.coordinate,
        t7.specs_content value,
        CONCAT(t7.check_basis_code, ":", t7.condition_value) label
        FROM
        test_entrusted_info t1
        LEFT JOIN test_task t2
        ON t2.entrustment_id = t1.id
        LEFT JOIN test_entrusted_sample_details_rel t3 ON t1.id = t3.entrustment_id
        LEFT JOIN test_sample t4 ON t3.sample_id = t4.id
        LEFT JOIN test_entrusted_sample_checkitem_rel t5 ON t1.id = t5.entrust_id
        AND t4.id = t5.sample_id
        LEFT JOIN test_product_item t6 ON t5.check_item_id = t6.check_item_id
        LEFT JOIN test_report_qualifcation t7 ON t6.check_item_id = t7.check_item_id
        left join test_report_record t8 on t1.id = t8.entrust_id
        left join test_report_record_detail t9 on t8.id = t9.record_id
        AND t5.check_item_id = t9.check_item_id
        AND t2.id = t9.task_id
        AND t4.id = t9.sample_id
        WHERE t2.id = #{taskId} and t5.task_id = #{taskId}
        <if test="deptIds!=null">
            and t5.dept_id in
            <foreach collection="deptIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="getReportDetail0621" resultMap="reportDetailMap">
        SELECT t1.id,
               t1.report_count,
               t1.report_type,
               t2.task_code,
               t4.product_id product_id1,
               t4.sample_name,
               t1.count_price,
            DATE (t1.request_date) request_date,
            t3.sample_id,
            t4.sample_code,
            t4.sample_name sample_name1,
            t4.specs,
            t4.outward,
            t4.product_id,
            t5.id id_item,
            t5.state,
            t5.origin_url,
            t6.check_item_id,
            t5.check_item_name,
            t9.specs_content,
            t9.check_result,
            t9.judge_result,
            t6.coordinate,
            t7.specs_content value,
            CONCAT(t7.check_basis_code, ":", t7.condition_value) label
        FROM
            test_entrusted_info t1
            LEFT JOIN test_task t2
        ON t2.entrustment_id = t1.id
            LEFT JOIN test_entrusted_sample_details_rel t3 ON t1.id = t3.entrustment_id
            LEFT JOIN test_sample t4 ON t3.sample_id = t4.id
            LEFT JOIN test_entrusted_sample_checkitem_rel t5 ON t1.id = t5.entrust_id
            AND t4.id = t5.sample_id
            LEFT JOIN test_product_item t6 ON t5.check_item_id = t6.check_item_id
            LEFT JOIN test_report_qualifcation t7 ON t6.check_item_id = t7.check_item_id
            left join test_report_record t8 on t1.id = t8.entrustment_id
            left join test_report_record_detail t9 on t8.id = t9.record_id
--             and t5.check_item_id = t9.check_item_id
        WHERE t2.id = #{taskId} and t5.task_id = #{taskId}
        <if test="deptIds!=null">
            and t5.dept_id in
            <foreach collection="deptIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="getDetailCheckItem" resultMap="reportCheckMap">
        SELECT
            t1.sample_name,
            t2.check_item_id,
            t2.check_item_name,
            t2.specs_content,
            t2.check_result,
            t2.judge_result
        FROM
            test_report_record t1
                LEFT JOIN test_report_record_detail t2 ON t1.id = t2.record_id
        WHERE
            t1.entrustment_id = #{id}
    </select>

    <select id="getAllReportDetail" resultMap="reportDetailMap">
        SELECT t1.id,
               t1.report_count,
               t1.report_type,
               t2.task_code,
               t4.product_id product_id1,
               t4.sample_name,
               t1.count_price,
            DATE (t1.request_date) request_date,
            t3.sample_id,
            t4.sample_code,
            t4.sample_name sample_name1,
            t4.specs,
            t4.outward,
            t4.product_id,
            t5.id id_item,
            t5.state,
            t6.check_item_id,
            t6.check_item_name,
            t9.specs_content,
            t9.check_result,
            t9.judge_result,
            t6.coordinate,
            t7.specs_content value,
            CONCAT(t7.check_basis_code, ":", t7.condition_value) label
        FROM
            test_entrusted_info t1
            LEFT JOIN test_task t2
        ON t2.entrustment_id = t1.id
            LEFT JOIN test_entrusted_sample_details_rel t3 ON t1.id = t3.entrustment_id
            LEFT JOIN test_sample t4 ON t3.sample_id = t4.id
            LEFT JOIN test_entrusted_sample_checkitem_rel t5 ON t1.id = t5.entrust_id
            AND t4.id = t5.sample_id
            LEFT JOIN test_product_item t6 ON t5.check_item_id = t6.check_item_id
            LEFT JOIN test_report_qualifcation t7 ON t6.check_item_id = t7.check_item_id
            left join test_report_record t8 on t1.id = t8.entrustment_id
            left join test_report_record_detail t9 on t8.id = t9.record_id and t5.check_item_id = t9.check_item_id
        WHERE t1.id = #{id}
    </select>

    <select id="getReportList" resultType="com.lims.manage.erp.vo.ReportListVo">
        SELECT DISTINCT t1.id,
                        t2.task_code,
                        t4.sample_name,
                        t1.count_price,
                        DATE_FORMAT(t1.request_date, '%Y-%m-%d') request_date
        FROM test_entrusted_info t1
                 LEFT JOIN test_task t2 ON t2.entrustment_id = t1.id
                 LEFT JOIN test_entrusted_sample_details_rel t3 ON t1.id = t3.entrustment_id
                 LEFT JOIN test_sample t4 ON t3.sample_id = t4.id
                 left join test_entrusted_sample_checkitem_rel t5 on t1.id = t5.entrust_id and t4.id = t5.sample_id
        where t2.task_code is not null
          and t5.state = 3
    </select>

<!--    <select id="getReportList2" resultType="com.lims.manage.erp.vo.ReportListVo">-->
<!--        SELECT DISTINCT t1.id,-->
<!--                        t2.id task_id,-->
<!--                        t2.task_code,-->
<!--                        t4.sample_name,-->
<!--                        t2.task_price as countPrice,-->
<!--                        DATE_FORMAT(t1.request_date, '%Y-%m-%d') request_date-->
<!--        FROM test_entrusted_info t1-->
<!--                 LEFT JOIN test_task t2 ON t2.entrustment_id = t1.id-->
<!--                 LEFT JOIN test_entrusted_sample_details_rel t3 ON t1.id = t3.entrustment_id-->
<!--                 LEFT JOIN test_sample t4 ON t3.sample_id = t4.id-->
<!--                 left join test_entrusted_sample_checkitem_rel t5 on t1.id = t5.entrust_id and t4.id = t5.sample_id-->
<!--                 left join test_report_record t6 on t2.id = t6.task_id-->
<!--        where t2.task_code is not null-->
<!--          and t2.state = 6-->
<!--          and t2.report_complete = 2-->
<!--        <if test="taskCode!=null and taskCode!=''">-->
<!--            and t2.task_code like CONCAT('%',#{taskCode},'%')-->
<!--        </if>-->
<!--        <if test="deptIds!=null">-->
<!--            and t2.dept_id in-->
<!--            <foreach collection="deptIds" item="id" index="index" open="(" close=")" separator=",">-->
<!--                #{id}-->
<!--            </foreach>-->
<!--        </if>-->
<!--        GROUP BY t2.id-->
<!--        order by t2.code desc-->
<!--    </select>-->
    <select id="getReportList2" resultType="com.lims.manage.erp.vo.ReportListVo">
        SELECT DISTINCT
            t1.id,
            t2.id task_id,
            t2.task_code,
            t2.task_price AS countPrice,
            DATE_FORMAT( t1.request_date, '%Y-%m-%d' ) request_date
        FROM
            test_entrusted_info t1
            LEFT JOIN test_task t2 ON t2.entrustment_id = t1.id
            LEFT JOIN test_report_record t6 ON t2.id = t6.task_id
        WHERE
            t2.task_code IS NOT NULL
            AND t2.state = 6
            AND t2.report_complete = 2
        <if test="taskCode!=null and taskCode!=''">
            and t2.task_code like CONCAT('%',#{taskCode},'%')
        </if>
        <if test="deptIds!=null">
            and t2.dept_id in
            <foreach collection="deptIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        GROUP BY t2.id
        order by t2.code desc
    </select>
<!--    <select id="getReportListOnline1023" resultType="com.lims.manage.erp.vo.ReportListVo">-->
<!--        SELECT-->
<!--        t1.id,-->
<!--        t2.state taskState,-->
<!--        t2.task_price AS countPrice,-->
<!--        DATE_FORMAT( t1.request_date, '%Y-%m-%d' ) request_date,-->
<!--        COUNT( t3.state ) number-->
<!--        FROM-->
<!--        test_entrusted_info t1-->
<!--        LEFT JOIN test_report_record t4 ON t1.id = t4.entrustment_id-->
<!--        LEFT JOIN test_task t2 ON t2.entrustment_id = t1.id-->
<!--        LEFT JOIN test_entrusted_sample_checkitem_rel t3 ON t2.id = t3.task_id-->
<!--        WHERE-->
<!--            t2.task_code IS NOT NULL-->
<!--            AND t2.report_complete = 2-->
<!--            AND (t3.state = 3 or t3.mid_state = 1)-->
<!--            AND (t4.state &lt;= 2 or t4.state is null)-->
<!--        <if test="taskCode!=null and taskCode!=''">-->
<!--            and t2.task_code like CONCAT('%',#{taskCode},'%')-->
<!--        </if>-->
<!--        <if test="userId!=null and userId!=''">-->
<!--            and (t2.report_producer like CONCAT('%',#{userId},'%')) or t2.dept_id in-->
<!--            (SELECT-->
<!--            team_id-->
<!--            FROM-->
<!--            test_technicist-->
<!--            WHERE-->
<!--            user_id = #{userId}-->
<!--            UNION ALL-->
<!--            SELECT-->
<!--            old_team_id-->
<!--            FROM-->
<!--            test_team_rel-->
<!--            WHERE-->
<!--            new_team_id = (-->
<!--            SELECT-->
<!--            team_id-->
<!--            FROM-->
<!--            test_technicist-->
<!--            WHERE-->
<!--            user_id = #{userId}-->
<!--            ))-->
<!--        </if>-->
<!--        GROUP BY-->
<!--        t1.id,-->
<!--        t2.state,-->
<!--        t2.task_price-->
<!--        HAVING-->
<!--        number > 0-->
<!--        order by t2.create_time desc-->
<!--    </select>-->
    <select id="getReportListOnline1023" resultType="com.lims.manage.erp.vo.ReportListVo">
        SELECT
	t2.task_code,
	t2.report_producer,
	t2.report_complete,
	t1.id,
	t2.state taskState,
	t2.task_price AS countPrice,
	DATE_FORMAT(t1.request_date, '%Y-%m-%d') request_date
FROM
	test_entrusted_info t1
LEFT JOIN test_report_record t4 ON t1.id = t4.entrustment_id
LEFT JOIN test_task t2 ON t2.entrustment_id = t1.id
LEFT JOIN test_entrusted_sample_checkitem_rel t3 ON t2.id = t3.task_id
WHERE
	t2.report_complete = 2
AND (t3.state = 3 OR t3.mid_state = 1)
AND (t4.state &lt;= 2 or t4.state is null)
AND (
	t2.report_producer LIKE CONCAT('%', #{userId}, '%')
	OR t2.dept_id IN (
		SELECT
			team_id
		FROM
			test_technicist
		WHERE
			user_id = #{userId}
		UNION ALL
			SELECT
				old_team_id
			FROM
				test_team_rel
			WHERE
				new_team_id = (
					SELECT
						team_id
					FROM
						test_technicist
					WHERE
						user_id = #{userId}
				)
	)
)
GROUP BY
	t1.id,
	t2.state,
	t2.task_price
ORDER BY
	t2.create_time DESC
    </select>

<!--    <select id="reportDownloadList" resultType="com.lims.manage.erp.vo.ReportListVo">-->
<!--        SELECT DISTINCT t1.id,-->
<!--                        t1.entrust_test_type,-->
<!--                        t2.id task_id,-->
<!--                        t2.task_code,-->
<!--                        t6.report_code,-->
<!--                        t4.sample_name,-->
<!--                        t1.actual_price count_price,-->
<!--                        t4.product_id,-->
<!--                        DATE_FORMAT(t1.request_date, '%Y-%m-%d') request_date-->
<!--        FROM test_entrusted_info t1-->
<!--                 LEFT JOIN test_task t2 ON t2.entrustment_id = t1.id-->
<!--                 LEFT JOIN test_entrusted_sample_details_rel t3 ON t1.id = t3.entrustment_id-->
<!--                 LEFT JOIN test_sample t4 ON t3.sample_id = t4.id-->
<!--                 left join test_entrusted_sample_checkitem_rel t5 on t1.id = t5.entrust_id and t4.id = t5.sample_id-->
<!--                 left join test_report_record t6 on t1.id = t6.entrustment_id-->
<!--        where t2.issue_report = '是'-->
<!--            AND t6.state = 1-->
<!--        <if test="reportCode!=null and reportCode!=''">-->
<!--            and t6.report_code like CONCAT('%',#{reportCode},'%')-->
<!--        </if>-->
<!--        <if test="deptIds!=null">-->
<!--            and t2.dept_id in-->
<!--            <foreach collection="deptIds" item="id" index="index" open="(" close=")" separator=",">-->
<!--                #{id}-->
<!--            </foreach>-->
<!--        </if>-->
<!--        order by t6.report_code desc-->
<!--    </select>-->
    <select id="reportDownloadList" resultType="com.lims.manage.erp.vo.ReportListVo">
        SELECT DISTINCT
        t1.id,
        t6.verifyer,
        t6.issuer,
        t1.entrust_test_type,
        t6.report_code,
        t6.type As reportType,
        t1.actual_price count_price,
        DATE_FORMAT( t1.request_date, '%Y-%m-%d' ) request_date
        FROM
        test_entrusted_info t1
        LEFT JOIN test_task t2 ON t2.entrustment_id = t1.id
        LEFT JOIN test_report_record t6 ON t1.id = t6.entrustment_id
        WHERE
        t2.issue_report = '是'
        AND t6.state = 1
        <if test="reportCode!=null and reportCode!=''">
            and t6.report_code like CONCAT('%',#{reportCode},'%')
        </if>
        <if test="deptIds!=null">
            and t2.dept_id in
            <foreach collection="deptIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        order by t6.report_code desc
    </select>
<!--
    <select id="reportDownloadList0512" resultType="com.lims.manage.erp.vo.ReportListVo">
        select * from (SELECT DISTINCT
        t1.id,
        t2.id taskId,
        t2.task_code taskCode,
        t1.entrust_test_type,
        t6.report_code,
        t6.type AS reportType,
        t6.report_complete_time,
        t1.actual_price count_price,
        t6.operate_type As operateType,
        DATE_FORMAT( t1.request_date, '%Y-%m-%d' ) request_date
        FROM
        test_entrusted_info t1
        LEFT JOIN test_task t2 ON t2.entrustment_id = t1.id
        LEFT JOIN test_report_record t6 ON t1.id = t6.entrustment_id
        WHERE
        t2.issue_report = '是'
        AND t6.state = 1
        <if test="reportCode!=null and reportCode!=''">
            and (t6.report_code like CONCAT('%',#{reportCode},'%') or t2.task_code like CONCAT('%',#{reportCode},'%') )
        </if>
        <if test="userId!=null and userId!=''">
            and (t2.report_producer like CONCAT('%',#{userId},'%')) or t2.dept_id in
            (SELECT
            team_id
            FROM
            test_technicist
            WHERE
            user_id = #{userId}
            UNION ALL
            SELECT
            old_team_id
            FROM
            test_team_rel
            WHERE
            new_team_id = (
            SELECT
            team_id
            FROM
            test_technicist
            WHERE
            user_id = #{userId}
            ))
        </if>
        union all
        SELECT DISTINCT
        t1.id,
        t2.id taskId,
        t2.task_code taskCode,
        t1.entrust_test_type,
        t6.report_code,
        t6.type AS reportType,
        t6.report_complete_time,
        t1.actual_price count_price,
        t6.operate_type AS operateType,
        DATE_FORMAT( t1.request_date, '%Y-%m-%d' ) request_date
        FROM
        test_entrusted_info t1
        LEFT JOIN test_task t2 ON t2.entrustment_id = t1.id
        LEFT JOIN test_report_record t6 ON t1.id = t6.entrust_id
        WHERE
        t2.issue_report = '是'
        AND t6.state = 1
        <if test="reportCode!=null and reportCode!=''">
            and (t6.report_code like CONCAT('%',#{reportCode},'%') or t2.task_code like CONCAT('%',#{reportCode},'%') )
        </if>
        <if test="userId!=null and userId!=''">
            and (t2.report_producer like CONCAT('%',#{userId},'%')) or t2.dept_id in
            (SELECT
            team_id
            FROM
            test_technicist
            WHERE
            user_id = #{userId}
            UNION ALL
            SELECT
            old_team_id
            FROM
            test_team_rel
            WHERE
            new_team_id = (
            SELECT
            team_id
            FROM
            test_technicist
            WHERE
            user_id = #{userId}
            ))
        </if>
        ) t1 order by t1.report_complete_time desc
    </select>
-->
    <select id="reportDownloadList0512" resultType="com.lims.manage.erp.vo.ReportListVo">
        SELECT DISTINCT
        t1.id,
        t2.id taskId,
        t2.task_code taskCode,
        t1.entrust_test_type,
        t6.report_code,
        t6.type AS reportType,
        t6.report_complete_time,
        t1.actual_price count_price,
        t6.operate_type As operateType,
        DATE_FORMAT( t1.request_date, '%Y-%m-%d' ) request_date
        FROM
        test_entrusted_info t1
        LEFT JOIN test_task t2 ON t2.entrustment_id = t1.id
        LEFT JOIN test_report_record t6 ON (t1.id = t6.entrustment_id OR t1.id=t6.entrust_id)
        WHERE
        t2.issue_report = '是'
        AND t6.state = 1

AND (
	t6.report_code LIKE CONCAT('%', #{reportCode}, '%')
	OR t2.task_code LIKE CONCAT('%', #{reportCode}, '%')
)

            AND (
            t2.report_producer LIKE CONCAT('%', #{userId}, '%')
            OR t2.dept_id IN (
            SELECT
            team_id
            FROM
            test_technicist
            WHERE
            user_id = #{userId}
            UNION ALL
            SELECT
            old_team_id
            FROM
            test_team_rel
            WHERE
            new_team_id = (
            SELECT
            team_id
            FROM
            test_technicist
            WHERE
            user_id = #{userId}
            )
            )
            )

        order by t6.report_complete_time desc
    </select>

    <select id="getSampleNames" resultType="java.lang.String">
        SELECT
            t2.alias_name
        FROM
            test_entrusted_sample_details_rel t1
                LEFT JOIN test_sample t2 ON t1.sample_id = t2.id
        WHERE
            t1.entrustment_id = #{entrustId}
    </select>
    <select id="getSampleInfos" resultType="com.lims.manage.erp.vo.LabelValueVo">
        SELECT
            t2.id VALUE,
	        CONCAT(t2.alias_name,t2.sample_code) label
        FROM
            test_entrusted_sample_details_rel t1
            LEFT JOIN test_sample t2 ON t1.sample_id = t2.id
        WHERE
            t1.entrustment_id = #{entrustId}
    </select>

    <select id="getSampleInfosByIds" resultType="com.lims.manage.erp.vo.LabelValueVo">
        SELECT
        t1.entrustment_id As entrustId,
            t2.id VALUE,
	        CONCAT(t2.alias_name,t2.sample_code) label
        FROM
            test_entrusted_sample_details_rel t1
            LEFT JOIN test_sample t2 ON t1.sample_id = t2.id
        WHERE
            t1.entrustment_id in
        <foreach collection="items" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="getSampleNamesByIds" resultType="com.lims.manage.erp.vo.LabelValueVo">
        SELECT
        t1.entrustment_id As entrustId,
            t2.id VALUE,
	        t2.alias_name label
        FROM
            test_entrusted_sample_details_rel t1
            LEFT JOIN test_sample t2 ON t1.sample_id = t2.id
        WHERE
            t1.entrustment_id in
        <foreach collection="items" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="getMakeReportSampleInfos" resultType="com.lims.manage.erp.vo.LabelValueVo">
        SELECT
            t2.id VALUE,
            CONCAT( t2.alias_name, t2.sample_code ) label,
            IFNULL(t1.report_edit_url,0) text,
            COUNT( t3.state ) number
        FROM
            test_entrusted_sample_details_rel t1
            LEFT JOIN test_sample t2 ON t1.sample_id = t2.id
            LEFT JOIN test_entrusted_sample_checkitem_rel t3 ON t2.id = t3.sample_id
        WHERE
            t1.entrustment_id = #{entrustId}
            and (t3.state = 3 or t3.mid_state = 1)
            AND t3.task_id = #{taskId}
        GROUP BY
            t2.id,
            label,
            text
        HAVING
            number > 0
    </select>
    <select id="getMakeReportSampleInfos1025" resultType="com.lims.manage.erp.vo.LabelValueVo">
        SELECT
            t2.id VALUE,
            CONCAT( t2.alias_name, t2.sample_code ) label,
            IFNULL(t1.report_edit_url,0) text,
            COUNT( t3.state ) number
        FROM
            test_entrusted_sample_details_rel t1
            LEFT JOIN test_sample t2 ON t1.sample_id = t2.id
            LEFT JOIN test_entrusted_sample_checkitem_rel t3 ON t2.id = t3.sample_id
        WHERE
            t1.entrustment_id = #{entrustId}
            and (t3.state = 3 or t3.mid_state = 1)
        GROUP BY
            t2.id,
            label,
            text
        HAVING
            number > 0
    </select>

    <select id="getTaskCodes" resultType="java.lang.String">
        SELECT
            task_code
        FROM
            test_task
        WHERE
            entrustment_id = #{entrustId}
    </select>

    <select id="getTaskCodesByIds" resultType="com.lims.manage.erp.vo.LabelValueVo">
        SELECT
        entrustment_id As entrustId,
            task_code As text
        FROM
            test_task
        WHERE
            entrustment_id in
        <foreach collection="items" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="getReportList3" resultType="com.lims.manage.erp.vo.ReportListVo">
        SELECT DISTINCT t1.id,
                        t2.id task_id,
                        t2.task_code,
                        t4.sample_name,
                        t1.count_price,
                        DATE_FORMAT(t1.request_date, '%Y-%m-%d') request_date
        FROM test_entrusted_info t1
                 LEFT JOIN test_task t2 ON t2.entrustment_id = t1.id
                 LEFT JOIN test_entrusted_sample_details_rel t3 ON t1.id = t3.entrustment_id
                 LEFT JOIN test_sample t4 ON t3.sample_id = t4.id
                 left join test_entrusted_sample_checkitem_rel t5 on t1.id = t5.entrust_id and t4.id = t5.sample_id
        where t2.task_code is not null
          and t2.state = 4
        <if test="deptIds!=null">
            and t2.dept_id in
            <foreach collection="deptIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="getReportList_history" resultType="com.lims.manage.erp.vo.ReportListVo">
        SELECT
        t1.id,
        t2.task_code as taskCode,
        t2.id as taskId,
        t1.sample_name as sampleName,
        t2.task_price as countPrice,
        DATE_FORMAT(t1.required_completion_time,'%Y-%m-%d') as requestDate,
        DATE_FORMAT(t1.report_complete_time,'%Y-%m-%d') as reportCompleteTime,
        t1.report_url as reportUrl
        FROM
        test_task t2
        LEFT JOIN test_report_record t1 ON t1.entrustment_id = t2.entrustment_id
        LEFT JOIN test_entrusted_info t3 ON t3.id = t2.entrustment_id
        WHERE
        t2.report_complete = 1
        AND t2.state != 144
        AND t3.state != 144
        <if test="taskCode!=null and taskCode!=''">
            and t2.task_code LIKE CONCAT('%',#{taskCode},'%')
        </if>
        <if test="deptIds!=null">
            and t2.dept_id in
            <foreach collection="deptIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        order by t2.code desc
    </select>

    <select id="reportDownloadListHistory" resultType="com.lims.manage.erp.vo.ReportListVo">
        SELECT
        IFNULL( t1.entrustment_id, t1.entrust_id ) id,
        t1.verifyer,
        t1.issuer,
        t1.task_code as taskCode,
        t1.report_code as reportCode,
        t1.sample_name as sampleName,
        t1.price as countPrice,
        DATE_FORMAT(t1.required_completion_time,'%Y-%m-%d') as requestDate,
        DATE_FORMAT(t1.report_complete_time,'%Y-%m-%d') as reportCompleteTime,
        t1.report_url as reportUrl,
        t1.operate_type As operateType
        FROM
        test_report_record t1 left join test_task t2 on t1.task_id = t2.id
        WHERE t1.state &gt;= 3
        and t1.report_complete_time is not NULL
        <if test="reportCode!=null and reportCode!=''">
            and (t1.report_code like CONCAT('%',#{reportCode},'%') or t1.task_code like CONCAT('%',#{reportCode},'%') )
        </if>
        <if test="userId!=null and userId!=''">
            AND (
            t2.report_producer LIKE CONCAT('%', #{userId}, '%')
            OR t2.dept_id IN (
            SELECT
            team_id
            FROM
            test_technicist
            WHERE
            user_id = #{userId}
            UNION ALL
            SELECT
            old_team_id
            FROM
            test_team_rel
            WHERE
            new_team_id = (
            SELECT
            team_id
            FROM
            test_technicist
            WHERE
            user_id = #{userId}
            )
            )
            )
        </if>
        order by t1.report_code desc
    </select>

    <select id="getReportDetailHistory" resultMap="reportDetailMap">
        SELECT t1.id                       as id,
               t1.task_code                as task_code,
               t1.sample_name              as sample_name,
               t1.price                    as count_price,
               t1.required_completion_time as requestDate,
               t1.operate_time             as operateTime,
               t2.check_item_name          as checkItemName,
               t2.specs_content            as specsContent,
               t2.check_result                checkResult,
               t2.judge_result             as judgeResult
        FROM test_report_record as t1
                 LEFT JOIN test_report_record_detail as t2 ON t1.id = t2.record_id
        WHERE t1.state !=2
	and t1.id = #{id}
    </select>

    <select id="getReportHeadDetails" resultType="com.lims.manage.erp.vo.ReportSampleDetailVo">
        SELECT t1.sample_name                AS sampleName,
               t3.sample_code                As sampleCode,
               t3.outward_describe           AS outward,
               t3.specs                      AS specs,
               CONCAT(t5.NAME, '、', t5.CODE) as standard
        FROM test_report_record AS t1
                 LEFT JOIN test_entrusted_sample_details_rel AS t2 ON t2.entrustment_id = t1.entrustment_id
                 LEFT JOIN test_sample AS t3 ON t3.id = t2.sample_id
                 LEFT JOIN test_entrusted_sample_standard_rel AS t4 ON t4.entrustment_id = t1.entrustment_id
                 LEFT JOIN test_standard_file AS t5 ON t5.id = t4.standard_id
        WHERE t1.id = #{id}
    </select>

    <select id="getReportCheckItemList" resultType="com.lims.manage.erp.vo.ReportCheckItemDetailVo">
        SELECT t2.id              as checkItemId,
               t2.check_item_name as checkItemName,
               t2.specs_content   as specsContent,
               t2.check_result       checkResult,
               t2.judge_result    as judgeResult
        FROM test_report_record as t1
                 LEFT JOIN test_entrusted_sample_checkitem_rel t3 ON t1.entrustment_id = t3.entrust_id
                 LEFT JOIN test_report_record_detail as t2 ON t1.id = t2.record_id
        AND t3.check_item_id = t2.check_item_id
        WHERE t1.state !=2
            and t1.id = #{id}
            and t3.task_id = #{taskId}
        and t2.id is not NULL
        <if test="deptIds!=null">
            and t3.dept_id in
            <foreach collection="deptIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>
    <select id="getReportCheckItemListByRecordId" resultType="com.lims.manage.erp.vo.ReportCheckItemDetailVo">
        SELECT
            id AS checkItemId,
            check_item_name AS checkItemName,
            specs_content AS specsContent,
            check_result checkResult,
            judge_result AS judgeResult
        FROM
            test_report_record_detail
        WHERE
            record_id = #{recordId}
            AND task_id = #{taskId}
    </select>

    <select id="getJudgeBasis" resultType="java.lang.String">
        SELECT distinct t2.code
        FROM test_entrusted_sample_standard_rel t1
                 LEFT JOIN test_standard_file t2 ON t1.standard_id = t2.id
        WHERE t1.entrustment_id = #{id} and t1.sample_id=#{sampleId}
    </select>

    <select id="getJudgeBasisRe" resultType="java.lang.String">
        SELECT distinct CONCAT(t2.CODE, "《", t2.`name`, "》")
        FROM test_entrusted_sample_standard_rel t1
                 LEFT JOIN test_standard_file t2 ON t1.standard_id = t2.id
        WHERE t1.entrustment_id = #{id} and t1.sample_id=#{sampleId}
    </select>

    <select id="getCheckBasis" resultType="java.lang.String">
        SELECT distinct t2.code
        FROM test_entrusted_sample_checkitem_rel t1
                 LEFT JOIN test_standard_file t2 ON t1.standard_id = t2.id
        WHERE t1.entrust_id = #{id} and t1.sample_id = #{sampleId} and t1.state &gt;= 2
    </select>

    <select id="getEquipment" resultType="java.lang.String">
        SELECT CONCAT(t3.model,t3.NAME, "（", t3.code, "）")
        FROM test_entrusted_sample_checkitem_rel t1
                 LEFT JOIN test_product_item_instrument_middle_rel t2 ON t1.id = t2.id_item
                 LEFT JOIN test_instrument t3 ON t2.intrusment_id = t3.id
        WHERE t3.NAME IS NOT NULL
          AND t1.entrust_id = #{id} and t1.sample_id = #{sampleId} and t1.state &gt;= 2
    </select>

    <update id="updateReportUrl">
        update test_report_record
        <set>
            <if test="url != null">
                report_url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                template_name = #{code,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="getMiddleReportList" resultType="com.lims.manage.erp.vo.ReportListVo">
        SELECT
            t2.entrustment_id id,
            t1.id taskFlowId,
            t2.id taskId,
            t2.task_code taskCode,
            t2.task_price countPrice,
            STR_TO_DATE(t1.task_flow_date,'%Y-%m-%d') requestDate,
            t1.remark,
            t1.record_id recordId,
            t1.state,
            t3.type As reportType,
            IFNULL( t3.state, t4.state ) reportState,
            IFNULL( IFNULL( t3.report_code, t4.report_code ), '——' ) reportCode
        FROM
            test_entrusted_task_rel t1
        LEFT JOIN test_task t2 ON t1.task_id = t2.id
        LEFT JOIN test_report_record t3 ON t1.record_id = t3.id
        LEFT JOIN test_report_record_mid t4 ON t1.record_id = t4.id
        WHERE
            t1.type = 1
            AND t1.state = #{state}
        <if test="taskCode!=null and taskCode!=''">
            and t2.task_code like CONCAT('%',#{taskCode},'%')
        </if>
        <if test="deptIds!=null">
            and t2.dept_id in
            <foreach collection="deptIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        order by t1.id desc
    </select>

    <select id="getMiddleReportDetail" resultMap="reportDetailMap">
        SELECT
            #{taskFlowId} taskFlowId,
            t1.entrust_id id,
            t3.id sample_id,
            t3.product_id,
            t3.sample_code,
            t3.alias_name sample_name1,
            t3.outward_describe outward,
            t3.specs,
            t1.check_item_id,
            t1.check_item_name,
            t1.id id_item,
            t1.origin_url,
            t2.coordinate,
            t1.task_id
        FROM
            ( SELECT * FROM test_entrusted_sample_checkitem_rel WHERE entrust_id = #{entrustId} ) t1
                LEFT JOIN test_product_item t2 ON t1.check_item_id = t2.check_item_id
                LEFT JOIN test_sample t3 ON t1.sample_id = t3.id
    </select>
    <select id="getDetailById" resultType="com.lims.manage.erp.entity.ReportRecordEntity">
        select * from test_report_record where id=#{id}
    </select>
    <select id="getDetailByEntrustId" resultType="com.lims.manage.erp.entity.ReportRecordEntity">
        select * from test_report_record where entrustment_id=#{entrustId}
    </select>
    <select id="getDetailByEntrustIdZj" resultType="com.lims.manage.erp.entity.ReportRecordEntity">
        select * from test_report_record_mid where entrust_id=#{entrustId}
    </select>
    <select id="getDetailByCodeZj" resultType="com.lims.manage.erp.entity.ReportRecordEntity">
        select * from test_report_record_mid where report_code=#{reportCode}
    </select>
    <update id="updateCategory" parameterType="com.lims.manage.erp.entity.SealEntity">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update test_report_record
            <set>
                category = '物理章',
                state = '7',
                seal_type = #{item.sealType},
                sealer = #{item.sealer},
                seal_time = #{item.sealTime}
            </set>
            where id = #{item.key}
        </foreach>
    </update>

    <select id="historyList" resultType="com.lims.manage.erp.entity.ReportRecordEntity">
        SELECT distinct
        t1.id,
        t1.entrustment_id,
        t1.report_code,
        t1.sample_name,
        t1.required_completion_time,
        t1.report_url,
        t1.number,
        t1.issuer_time,
        t1.seal_type,
        t1.sealer,
        t1.seal_time,
        t1.type,
        t1.category,
        t1.qys_state,
        t1.contract_id
        FROM
        test_report_record t1
        LEFT JOIN test_task t3 ON t1.entrustment_id = t3.entrustment_id
        WHERE
        t1.state >= 7
        <if test="ids != null">
            AND t3.dept_id IN
            <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="reportCode !=null and reportCode != ''">
            AND report_code like concat(concat('%',#{reportCode}),'%')
        </if>
        <if test="reportType != null and reportType != ''">
            AND type = #{reportType}
        </if>
        <if test="sealType != null and sealType != ''">
            AND category = #{sealType}
        </if>
        <if test="startDate != null and endDate != null">
            AND seal_time &gt;= #{startDate} and seal_time &lt;= #{endDate}
        </if>
        order by t1.seal_time desc
    </select>

    <select id="historyListZj" resultType="com.lims.manage.erp.entity.ReportRecordEntity">
        SELECT distinct
        t1.id,
        t1.entrust_id As entrustmentId,
        t1.report_code,
        t1.sample_name,
        t1.required_completion_time,
        t1.report_url,
        t1.number,
        t1.issuer_time,
        t1.seal_type,
        t1.sealer,
        t1.seal_time,
        t1.type,
        t1.category,
        t1.qys_state,
        t1.contract_id
        FROM
        test_report_record_mid t1
        LEFT JOIN test_task t3 ON t1.entrust_id = t3.entrustment_id
        WHERE
        t1.state >= 7
        <if test="ids != null">
            AND t3.dept_id IN
            <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="reportCode !=null and reportCode != ''">
            AND report_code like concat(concat('%',#{reportCode}),'%')
        </if>
        <if test="reportType != null and reportType != ''">
            AND type = #{reportType}
        </if>
        <if test="sealType != null and sealType != ''">
            AND category = #{sealType}
        </if>
        <if test="startDate != null and endDate != null">
            AND seal_time &gt;= #{startDate} and seal_time &lt;= #{endDate}
        </if>
        order by t1.seal_time desc
    </select>

    <select id="exportRecords" resultType="com.lims.manage.erp.entity.ReportRecordEntity">
        SELECT distinct
        t1.id,
        t1.entrustment_id,
        t4.entrustment_no,
        t4.actual_price As actualPrice,
        t1.verifyer,
        t1.issuer,
        t1.number,
        t1.report_code,
        t1.sample_name,
        t1.required_completion_time,
        t1.report_url,
        t1.number,
        t1.issuer_time,
        t1.seal_type,
        t1.sealer,
        t1.seal_time,
        t1.type,
        t1.category,
        t1.qys_state,
        t1.inspector,
        t1.contract_id
        FROM
        test_report_record t1
        LEFT JOIN test_task t3 ON t1.entrustment_id = t3.entrustment_id
        left join test_entrusted_info t4 on t1.entrustment_id=t4.id
        WHERE
        t1.state >= 7
        <if test="ids != null">
            AND t3.dept_id IN
            <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="reportCode !=null and reportCode != ''">
            AND report_code like concat(concat('%',#{reportCode}),'%')
        </if>
        <if test="reportType != null and reportType != ''">
            AND type = #{reportType}
        </if>
        <if test="sealType != null and sealType != ''">
            AND category = #{sealType}
        </if>
        <if test="startDate != null and endDate != null">
            AND seal_time &gt;= #{startDate} and seal_time &lt;= #{endDate}
        </if>
        order by t1.seal_time desc
    </select>

    <select id="exportRecordsZj" resultType="com.lims.manage.erp.entity.ReportRecordEntity">
        SELECT distinct
        t1.id,
        t1.entrustment_id,
        t4.entrustment_no,
        t1.verifyer,
        t1.issuer,
        t1.number,
        t1.report_code,
        t1.sample_name,
        t1.required_completion_time,
        t1.report_url,
        t1.number,
        t1.issuer_time,
        t1.seal_type,
        t1.sealer,
        t1.seal_time,
        t1.type,
        t1.category,
        t1.qys_state,
        t1.inspector,
        t1.contract_id
        FROM
        test_report_record_mid t1
        LEFT JOIN test_task t3 ON t1.entrust_id = t3.entrustment_id
        left join test_entrusted_info t4 on t1.entrust_id=t4.id
        WHERE
        t1.state >= 7
        <if test="ids != null">
            AND t3.dept_id IN
            <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="reportCode !=null and reportCode != ''">
            AND report_code like concat(concat('%',#{reportCode}),'%')
        </if>
        <if test="reportType != null and reportType != ''">
            AND type = #{reportType}
        </if>
        <if test="sealType != null and sealType != ''">
            AND category = #{sealType}
        </if>
        <if test="startDate != null and endDate != null">
            AND seal_time &gt;= #{startDate} and seal_time &lt;= #{endDate}
        </if>
        order by t1.seal_time desc
    </select>
    <select id="getSealIsNullLastList" resultType="com.lims.manage.erp.vo.ReportSealvVo">
        SELECT
        id,
        entrustment_id as entrustmentId,
        report_code,
        contract_id,
        entrust_id as entrustId,
        1 as type,
        seal_report_url,
        applicant
        FROM
        test_report_record
        WHERE category = "电子章" and state >=6 and seal_report_url is NULL
    </select>
    <select id="getSealIsNullMiddleList" resultType="com.lims.manage.erp.vo.ReportSealvVo">
        SELECT
        id,
        report_code,
        contract_id,
        entrust_id as entrustId,
        0 as type,
        seal_report_url,
        applicant
        FROM
        test_report_record_mid
        WHERE category = "电子章" and state >=6 and seal_report_url is NULL
    </select>
    <update id="updateReportSealLast" parameterType="com.lims.manage.erp.vo.ReportSealvVo">
        update  test_report_record set seal_report_url = #{sealReportUrl} where id = #{id}
    </update>
    <update id="updateReportSealMid" parameterType="com.lims.manage.erp.vo.ReportSealvVo">
        update  test_report_record_mid set seal_report_url = #{sealReportUrl} where id = #{id}
    </update>

    <select id="getCodeByIds" resultType="java.lang.String">
        select report_code from test_report_record where id IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
