<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lims.manage.erp.mapper.ReportApprovalMapper">

    <select id="getReportApprovalList" resultType="com.lims.manage.erp.vo.ReportApprovalVo">
        SELECT
        id,
        entrustment_id,
        entrust_id,
        sample_name,
        price AS cost,
        required_completion_time,
        task_code,
        report_code,
        state,
        applicant,
        verifyer,
        verifyer_time,
        type reportTypeStatus
        FROM
        test_report_record
        WHERE
        report_complete_time is not NULL
        and state =3
             <if test="list!=null">
                 and verifyer_id in
                 <foreach collection="list" item="verifyer_id" index="index" open="(" close = ")" separator=",">
                     #{verifyer_id}
                 </foreach>
             </if>
            <if test="search!=null and search!=''">
                and report_code like CONCAT('%',#{search},'%')
            </if>
            <if test="reportTypeStatus!=null">
                and type = #{reportTypeStatus}
            </if>
        ORDER BY report_complete_time desc
    </select>

    <select id="getReportApprovalDetail" resultType="com.lims.manage.erp.vo.ReportApprovalVo">
        SELECT id,task_code,verifyer,verifyer_id,verifyer_time,state,issuer,issuer_id,type as reportTypeStatus,entrust_id as entrustId  FROM test_report_record WHERE id =#{id}
    </select>

    <update id="updateReportApprovalDetail" parameterType="com.lims.manage.erp.vo.ReportApprovalVo">
        UPDATE test_report_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="state!=null">state=#{state},</if>
            verifyer=#{verifyer},
            verifyer_time = #{verifyerTime},
            <if test="reason!=null and reason!=''">apply_reason=#{reason},</if>
            <if test="reportUrl!=null and reportUrl!=''">report_url=#{reportUrl},</if>
        </trim>
        WHERE id =#{id}
    </update>

    <select id="getUserName" resultType="string">
        SELECT t2.name
        FROM sys_user as t1
        LEFT JOIN sys_ding_user as t2 ON t1.ding_user_id = t2.userid
        WHERE t1.user_id = #{userId}
    </select>

    <select id="getReportApprovalHistory" resultType="com.lims.manage.erp.vo.ReportApprovalVo">
        SELECT
            id,
            sample_name,
            price AS cost,
            required_completion_time,
            task_code,
            report_code,
            state,
            applicant,
            verifyer,
            verifyer_time,
            type reportTypeStatus
        FROM
            test_report_record
        WHERE
        verifyer_time is not NULL
        <if test="list!=null">
            and verifyer_id in
            <foreach collection="list" item="verifyer_id" index="index" open="(" close = ")" separator=",">
                #{verifyer_id}
            </foreach>
        </if>
        <if test="search!=null and search!=''">
            and report_code like CONCAT('%',#{search},'%')
        </if>
        <if test="reportTypeStatus!=null">
            and type = #{reportTypeStatus}
        </if>
        ORDER BY verifyer_time desc
    </select>

    <select id="getTaskDetail" resultType="com.lims.manage.erp.vo.TaskDetailInfoVo">
        SELECT
        t1.price AS cost,
        DATE_FORMAT(t1.required_completion_time,'%Y-%m-%d') AS requiredCompletionTime,
        t1.task_code AS taskCode,
        t2.entrust_type checkPurpose,
        t2.sampling_method AS samplingMethod,
        t2.entrustment_no AS entrustmentNo,
        IFNULL(CONCAT(t2.entrust_category_type,t2.entrustment_no),t2.entrustment_no) as entrustmentNostr,
        t1.entrustment_id AS entrustmentId,
        t1.seal_type AS sealType,
        t2.seal_type AS sealTypeTicket,
		t1.report_code reportCode
        FROM
            test_report_record AS t1
            LEFT JOIN test_entrusted_info AS t2 on t2.id = t1.entrustment_id
        WHERE
            t1.id = #{id}
    </select>

    <select id="getEntrustAddVoDetail" resultType="com.lims.manage.erp.vo.EntrustAddVo">
        SELECT
            t2.id as id,
            t2.state as state
        FROM
            test_report_record AS t1
            LEFT JOIN test_entrusted_info AS t2 ON t1.entrustment_id = t2.id
        WHERE
            t1.id = #{taskId}
    </select>

    <!--任务列表结果集-->
    <resultMap id="taskResultMap" type="com.lims.manage.erp.vo.SampleDetailVo">
        <id property="id" column="sample_id"></id>
        <result property="sampleCode" column="sample_code"></result>
        <result property="sampleName" column="sample_name"></result>
        <result property="aliasName" column="alias_name"></result>
        <result property="productId" column="product_id"></result>
        <result property="specs" column="specs"></result>
        <result property="batchNumber" column="batch_number"></result>
        <result property="generation" column="generation"></result>
        <result property="sampleGroups" column="sample_groups"></result>
        <result property="quantityPerGroup" column="quantity_per_group"></result>
        <result property="sampleOrigin" column="sample_origin"></result>
        <result property="manufacturer" column="manufacturer"></result>
        <result property="receivedDate" column="received_date"></result>
        <result property="inspector" column="inspector"></result>
        <result property="sampleRequirement" column="sample_requirement"></result>
        <result property="outward" column="outward"></result>
        <result property="picture" column="picture"></result>
        <collection property="checkItemInfoList" ofType="com.lims.manage.erp.vo.CheckItemInfoVo">
            <id property="checkItemId" column="check_item_id"></id>
            <result property="checkItemName" column="check_item_name"></result>
            <result property="methodId" column="method_id"></result>
            <result property="methodName" column="name"></result>
            <result property="standardId" column="standard_id"></result>
            <result property="standardName" column="standard_name"></result>
            <result property="times" column="times"></result>
            <result property="checkPrice" column="unit_price"></result>
            <result property="itemId" column="itemId"></result>
            <result property="state" column="state"></result>
            <result property="originUrl" column="originUrl"></result>
            <result property="opinion" column="opinion"></result>
            <result property="startTime" column="start_time"></result>
            <result property="endTime" column="end_time"></result>
            <collection property="testInstrumentEntityList" ofType="com.lims.manage.erp.entity.TestInstrumentEntity">
                <id property="id" column="id"></id>
                <result property="name" column="instrumentName"></result>
            </collection>
        </collection>

    </resultMap>


    <select id="getSampleDetailList" resultMap="taskResultMap">
        SELECT
               t4.id as sample_id,
               t4.sample_name,
               t4.alias_name,
               t4.sample_code,
               t4.specs,
               t4.batch_number,
               t4.generation,
               t5.check_item_name,
               t7.name,
               CONCAT(t6.code, '《', t6.`name`, '》') standard_name,
               t5.times,
               t5.unit_price,
               t5.state      AS                     state,
               t5.origin_url      AS                     originUrl,
               t5.opinion,
                 t5.start_time,
                 t5.end_time,
                 t5.check_item_id as check_item_id,
                 t10.name AS instrumentName,
                 t10.id
                FROM test_entrusted_sample_details_rel t3
                 LEFT JOIN test_sample t4 ON t3.sample_id = t4.id
                 LEFT JOIN test_entrusted_sample_checkitem_rel t5 ON t3.entrustment_id = t5.entrust_id
            AND t4.id = t5.sample_id
                 LEFT JOIN test_standard_file t6 ON t5.standard_id = t6.id
                 LEFT JOIN test_method t7 ON t5.method_id = t7.id
                 left join test_product_item t8 on t5.check_item_id = t8.check_item_id
				LEFT JOIN test_product_item_instrument_middle_rel AS t9 on t9.id_item = t5.id
				LEFT JOIN test_instrument as t10 on t10.id =t9.intrusment_id
        where t3.entrustment_id = #{id}
    </select>

    <select id="getVerifyList" resultType="com.lims.manage.erp.vo.ReportApprovalVo">
        SELECT
        id,
        entrustment_id,
        sample_name,
        price AS cost,
        required_completion_time,
        task_code,
        report_code,
        state,
        applicant,
        issuer,
        issuer_time,
        verifyer_time,
        type reportTypeStatus
        FROM
        test_report_record
        WHERE  verifyer_time is not NULL
            and  state = 4
        <if test="list!=null">
             and issuer_id in
             <foreach collection="list" item="issuer_id" index="index" open="(" close = ")" separator=",">
                 #{issuer_id}
             </foreach>
        </if>
        <if test="search!=null and search!=''">
            and task_code like CONCAT('%',#{search},'%')
        </if>
        <if test="reportTypeStatus!=null">
            and type = #{reportTypeStatus}
        </if>
        order by verifyer_time desc
    </select>
    <select id="getVerifyHistory" resultType="com.lims.manage.erp.vo.ReportApprovalVo">
        SELECT
        id,
        sample_name,
        price AS cost,
        required_completion_time,
        task_code,
        report_code,
        state,
        applicant,
        issuer,
        issuer_time,
        verifyer_time,
        type reportTypeStatus
        FROM
        test_report_record
        WHERE  issuer_time is not NULL
        and state >= 6
        <if test="list!=null">
            and issuer_id in
            <foreach collection="list" item="issuer_id" index="index" open="(" close = ")" separator=",">
                #{issuer_id}
            </foreach>
        </if>
        <if test="search!=null and search!=''">
            and report_code like CONCAT('%',#{search},'%')
        </if>
        <if test="reportTypeStatus!=null">
            and type = #{reportTypeStatus}
        </if>
        order by issuer_time desc
    </select>
    <update id="updateVerifyMonad" parameterType="com.lims.manage.erp.vo.ReportApprovalVo">
        UPDATE test_report_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="state!=null">state=#{state},</if>
            issuer=#{issuer},
            issuer_time = #{issuerTime},
            <if test="reason!=null and reason!=''">issu_reason=#{reason},</if>
            <if test="sealType!=null and sealType!=''">seal_type=#{sealType},</if>
            <if test="reportUrl!=null and reportUrl!=''">report_url=#{reportUrl},</if>
        </trim>
        WHERE id =#{id}
    </update>
    <update id="updateExaminationAndApprovalMonad" parameterType="com.lims.manage.erp.vo.ReportApprovalVo">
        UPDATE test_report_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="state!=null">state=#{state},</if>
            verifyer=#{verifyer},
            verifyer_time = #{verifyerTime},
            issuer=#{issuer},
            issuer_time = #{issuerTime},
            <if test="issuReason!=null and issuReason!=''">issu_reason=#{issuReason},</if>
            <if test="applyReason!=null and applyReason!=''">apply_reason=#{applyReason},</if>
            <if test="sealType!=null and sealType!=''">seal_type=#{sealType},</if>
        </trim>
        WHERE id =#{id}
    </update>

    <update id="updateentrustAndApprovalMonad" parameterType="com.lims.manage.erp.vo.ReportApprovalVo">
        UPDATE test_report_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="state!=null">state=#{state},</if>
            <if test="verifyer!=null">verifyer=#{verifyer},</if>
            <if test="verifyerTime!=null">verifyer_time = #{verifyerTime},</if>
            <if test="verifyerId!=null">verifyer_id = #{verifyerId},</if>
            <if test="issuer!=null">issuer=#{issuer},</if>
            <if test="issuerTime!=null">issuer_time = #{issuerTime},</if>
            <if test="issuerId!=null">issuer_id = #{issuerId},</if>
            <if test="issuReason!=null and issuReason!=''">issu_reason=#{issuReason},</if>
            <if test="applyReason!=null and applyReason!=''">apply_reason=#{applyReason},</if>
            <if test="sealType!=null and sealType!=''">seal_type=#{sealType},</if>
        </trim>
        WHERE entrustment_id =#{entrustmentId}
    </update>
    <update id="updateentrustAndApprovalMonad2" parameterType="com.lims.manage.erp.vo.ReportApprovalVo">
        UPDATE test_report_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="state!=null">state=#{state},</if>
            verifyer=#{verifyer},
            verifyer_time = #{verifyerTime},
            verifyer_id = #{verifyerId},
            issuer=#{issuer},
            issuer_time = #{issuerTime},
            issuer_id = #{issuerId},
            <if test="issuReason!=null and issuReason!=''">issu_reason=#{issuReason},</if>
            <if test="applyReason!=null and applyReason!=''">apply_reason=#{applyReason},</if>
            <if test="sealType!=null and sealType!=''">seal_type=#{sealType},</if>
        </trim>
        WHERE id =#{id}
    </update>
    <update id="updateById" parameterType="com.lims.manage.erp.vo.ReportApprovalVo">
        UPDATE test_report_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="state!=null">state=#{state},</if>
            verifyer=#{verifyer},
            verifyer_time = #{verifyerTime},
            verifyer_id = #{verifyerId},
            issuer=#{issuer},
            issuer_time = #{issuerTime},
            issuer_id = #{issuerId},
            <if test="issuReason!=null and issuReason!=''">issu_reason=#{issuReason},</if>
            <if test="applyReason!=null and applyReason!=''">apply_reason=#{applyReason},</if>
            <if test="sealType!=null and sealType!=''">seal_type=#{sealType},</if>
        </trim>
        WHERE id =#{id}
    </update>

    <select id="getCheckItemInfoVoList" resultType="com.lims.manage.erp.vo.CheckItemInfoVo" parameterType="long">
        SELECT
        t2.check_item_name as checkItemName,
        t2.check_item_id as checkItemId
        FROM
        test_report_record as t1
        LEFT JOIN test_report_record_detail as t2 ON t1.id = t2.record_id
        WHERE t1.id = #{id}
    </select>

    <select id="getTaskDetailInterimReport" resultType="com.lims.manage.erp.vo.TaskDetailInfoVo">
        SELECT
        t1.price AS cost,
        DATE_FORMAT(t1.required_completion_time,'%Y-%m-%d') AS requiredCompletionTime,
        t1.task_code AS taskCode,
        t2.entrust_type checkPurpose,
        t2.sampling_method AS samplingMethod,
        t2.entrustment_no AS entrustmentNo,
        IFNULL(CONCAT(t2.entrust_category_type,t2.entrustment_no),t2.entrustment_no) as entrustmentNostr,
        t1.entrustment_id AS entrustmentId,
        t1.entrust_id AS entrustId,
        t1.seal_type AS sealType,
        t2.seal_type AS sealTypeTicket,
		t1.report_code reportCode
        FROM
            test_report_record AS t1
            LEFT JOIN test_entrusted_info AS t2 on t2.id = t1.entrust_id
        WHERE
            t1.id = #{id}
    </select>

    <select id="getReportUrl" resultType="java.lang.String">
        SELECT
            report_url
        FROM
            test_report_record
        WHERE
            id = #{reportId}
    </select>
</mapper>
