<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lims.manage.erp.mapper.ReportOriginalEntityMapper">
    <resultMap id="BaseResultMap" type="com.lims.manage.erp.entity.ReportOriginalEntity">
        <constructor>
            <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="code" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="url" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="create_date" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_date" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , code, name, url, remark, create_date, update_date
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from test_report_original_template
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from test_report_original_template
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.lims.manage.erp.entity.ReportOriginalEntity">
        insert into test_report_original_template (id, code, name,
                                                   url, remark, create_date,
                                                   update_date)
        values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
                #{url,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
                #{updateDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.lims.manage.erp.entity.ReportOriginalEntity">
        insert into test_report_original_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lims.manage.erp.entity.ReportOriginalEntity">
        update test_report_original_template
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lims.manage.erp.entity.ReportOriginalEntity">
        update test_report_original_template
        set code        = #{code,jdbcType=VARCHAR},
            name        = #{name,jdbcType=VARCHAR},
            url         = #{url,jdbcType=VARCHAR},
            remark      = #{remark,jdbcType=VARCHAR},
            create_date = #{createDate,jdbcType=TIMESTAMP},
            update_date = #{updateDate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="getReportList" resultType="com.lims.manage.erp.entity.ReportOriginalEntity"
            parameterType="com.lims.manage.erp.entity.ReportOriginalEntity">
        select
        <include refid="Base_Column_List"/>
        from test_report_original_template
        <where>
            <if test="code!=null and code!=''">
                AND code LIKE concat(concat('%',#{code}),'%')
            </if>
            <if test="name!=null and name!=''">
                AND name LIKE concat(concat('%',#{name}),'%')
            </if>
        </where>
    </select>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete
        from test_report_original_template where id in
        <foreach collection='idList' item='id' open='(' separator=',' close=')'>
            #{id}
        </foreach>
    </delete>

    <select id="getReportSelectList" resultType="com.lims.manage.erp.vo.LabelValueVo"
            parameterType="java.lang.String">
        SELECT
        value,label
        FROM
        ( SELECT id VALUE, CONCAT( CODE, "《", NAME, "》" ) label FROM test_report_original_template ) t1
        <where>
            <if test="param!=null and param!=''">
                AND label LIKE concat(concat('%',#{param}),'%')
            </if>
        </where>
    </select>

</mapper>