<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lims.manage.erp.mapper.StatisticsMapper">


    <resultMap type="com.lims.manage.erp.entity.SampleEntity" id="SampleEntityMap">
        <result property="id" column="id"/>
        <result property="sampleName" column="sample_name"/>
        <collection property="sampleCheckItem" ofType="com.lims.manage.erp.entity.SampleItemInstrumentEntity">
            <id property="checkItemId" column="itemId"></id>
            <result property="checkItemName" column="check_item_name"></result>
            <result property="times" column="times"></result>
            <result property="unitPrice" column="unit_price"></result>
            <result property="state" column="state"></result>
        </collection>
    </resultMap>


    <select id="selectTaskQuery" resultType="com.lims.manage.erp.vo.TaskStatsVo">
        SELECT
        t1.id as taskId,
        t1.task_code taskCode,
        t1.required_completion_time requestDate,
        t1.end_detection_time finishDate,
        t2.report_code reportCode,
        t2.state state,
        t1.entrustment_id
        FROM
        test_task AS t1
        LEFT JOIN test_report_record AS t2 ON t2.entrustment_id = t1.entrustment_id
        WHERE 1=1
        <if test="deptId!=null">
            and t1.dept_id = #{deptId}
        </if>
        <if test="requestDate!=null">
            and t1.required_completion_time <![CDATA[ >= ]]>  #{requestDate}
        </if>
        <if test="finishDate!=null">
            and t1.end_detection_time <![CDATA[ >= ]]>  #{finishDate}
        </if>
        <if test="startDate!=null">
            and t1.start_detection_time <![CDATA[ >= ]]>  #{startDate}
        </if>
        <if test="stopDate!=null">
            and t1.end_detection_time <![CDATA[ <= ]]>  #{stopDate}
        </if>
        ORDER BY t1.task_code DESC
    </select>

    <select id="selectSampleEntityList" resultMap="SampleEntityMap">
    SELECT
        t2.sample_name ,
        t3.id as itemId,
        t3.times,
        t3.unit_price,
        t3.check_item_name,
        t3.state
    FROM
        test_entrusted_sample_details_rel AS t1
        LEFT JOIN test_sample AS t2 ON t1.sample_id = t2.id
        LEFT JOIN test_entrusted_sample_checkitem_rel AS t3 ON t3.sample_id = t2.id
    WHERE
        t1.entrustment_id =#{entrustmentId}
        and t3.task_id = #{taskId}
    </select>

    <select id="selectAllPerson" resultType="com.lims.manage.erp.vo.PersonalStatsVo">
        SELECT
        t2.NAME deptName,
        t2.CODE code,
        t3.NAME name,
        t3.user_id userId
        FROM
        test_technicist AS t1
        LEFT JOIN test_team AS t2 ON t1.team_id = t2.id
        LEFT JOIN sys_user AS t3 ON t3.user_id = t1.user_id
        WHERE 1=1
        <if test="deptIds != null">
            and t2.id in
            <foreach collection="deptIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="selectEntrustHistoryListRelease" resultType="com.lims.manage.erp.entity.EntrustHistoryEntity"
            parameterType="com.lims.manage.erp.vo.PersonalStatsVo">
    SELECT
    id,
    entrustment_no,
    entrust_company,
    entrust_people,
    project_name,
    business_acceptor,
    acceptance_date,
    state
    FROM
    test_entrusted_info
    where 1=1
        <if test="startDate!=null">
            and acceptance_date <![CDATA[ >= ]]>  #{startDate}
        </if>
        <if test="stopDate!=null">
            and acceptance_date <![CDATA[ <= ]]>  #{stopDate}
        </if>
    </select>

    <select id="selectTaskTest" resultType="com.lims.manage.erp.entity.TaskTestEntity">
    SELECT
        id,
        inspector inspector,
        reviewer reviewer
    FROM
        test_task
        where 1=1
        <if test="startDate!=null">
            and start_detection_time <![CDATA[ >= ]]>  #{startDate}
        </if>
        <if test="stopDate!=null">
            and end_detection_time <![CDATA[ <= ]]>  #{stopDate}
        </if>
    </select>

    <select id="selectTaskReview" resultType="com.lims.manage.erp.entity.TaskTestEntity">
        SELECT
        id,
        inspector inspector,
        reviewer reviewer
        FROM
        test_task
        where 1=1
        <if test="startDate!=null">
            and review_time <![CDATA[ >= ]]>  #{startDate}
        </if>
        <if test="stopDate!=null">
            and review_time <![CDATA[ <= ]]>  #{stopDate}
        </if>
    </select>

    <select id="selectReportSeal" resultType="com.lims.manage.erp.entity.ReportRecordEntity"
            parameterType="com.lims.manage.erp.vo.PersonalStatsVo">
       SELECT
            id,
            verifyer_id verifyerId,
            issuer_id issuerId,
            sealer sealer
       FROM
            test_report_record
    </select>

    <select id="selectReportVerifyer" resultType="com.lims.manage.erp.entity.ReportRecordEntity"
            parameterType="com.lims.manage.erp.vo.PersonalStatsVo">
       SELECT
            id,
            verifyer_id verifyerId,
            issuer_id issuerId,
            sealer sealer
       FROM
            test_report_record
        where 1=1
        <if test="startDate!=null">
            and verifyer_time <![CDATA[ >= ]]>  #{startDate}
        </if>
        <if test="stopDate!=null">
            and verifyer_time <![CDATA[ <= ]]>  #{stopDate}
        </if>
    </select>

    <select id="selectReportIssuer" resultType="com.lims.manage.erp.entity.ReportRecordEntity"
        parameterType="com.lims.manage.erp.vo.PersonalStatsVo">
        SELECT
        id,
        verifyer_id verifyerId,
        issuer_id issuerId,
        sealer sealer
        FROM
        test_report_record
        where 1=1
        <if test="startDate!=null">
            and issuer_time <![CDATA[ >= ]]>  #{startDate}
        </if>
        <if test="stopDate!=null">
            and issuer_time <![CDATA[ <= ]]>  #{stopDate}
        </if>
    </select>

    <select id="selectAllTeamVo" resultType="com.lims.manage.erp.vo.TestTeamVo">
        SELECT
        id,
        NAME,
        CODE
        FROM
            test_team
        WHERE del_flag = 0
    </select>

    <!--任务列表结果集-->
    <resultMap id="taskResultMap" type="com.lims.manage.erp.vo.TaskStatsVo">
        <result property="taskId" column="task_id"></result>
        <result property="taskCode" column="task_code"></result>
        <result property="orderer" column="orderer"></result>
        <result property="requestDate" column="requestDate"></result>
        <result property="finishDate" column="finishDate"></result>
        <result property="reportCode" column="report_code"></result>
        <result property="state" column="report_state"></result>
        <result property="entrustmentId" column="entrustment_id"></result>
        <collection property="sampleDetailList" ofType="com.lims.manage.erp.vo.SampleDetailVo">
            <id property="id" column="sample_id"></id>
            <result property="sampleName" column="sample_name"></result>
            <collection property="checkItemInfoList" ofType="com.lims.manage.erp.vo.CheckItemInfoVo">
                <id property="checkItemId" column="check_item_id"></id>
                <result property="checkItemName" column="check_item_name"></result>
                <result property="methodId" column="method_id"></result>
                <result property="methodName" column="name"></result>
                <result property="standardId" column="standard_id"></result>
                <result property="standardName" column="standard_name"></result>
                <result property="times" column="times"></result>
                <result property="checkPrice" column="unit_price"></result>
                <result property="itemId" column="itemId"></result>
                <result property="state" column="item_state"></result>
                <result property="taskId" column="item_task_id"></result>
            </collection>
        </collection>
    </resultMap>

    <select id="getTaskList" resultMap="taskResultMap" parameterType="com.lims.manage.erp.vo.TaskDetailInfoVo">
    SELECT
        t1.id as task_id,
        t1.task_code task_code,
        t1.required_completion_time requestDate,
        t1.end_detection_time finishDate,
        t2.report_code reportCode,
        t2.state report_state,
        t1.entrustment_id,
        t4.id sample_id,
		t4.sample_name ,
        t5.id as itemId,
        t5.times,
        t5.unit_price,
        t5.check_item_name,
        t5.state item_state,
		t5.task_id item_task_id
        FROM
        test_task AS t1
        LEFT JOIN test_report_record AS t2 ON t2.entrustment_id = t1.entrustment_id
				LEFT JOIN test_entrusted_sample_details_rel AS t3 ON t3.entrustment_id = t1.entrustment_id
        LEFT JOIN test_sample AS t4 ON t3.sample_id = t4.id
        LEFT JOIN test_entrusted_sample_checkitem_rel AS t5 ON t5.sample_id = t4.id
        WHERE 1=1
        <if test="deptId!=null">
            and t1.dept_id = #{deptId}
        </if>
        <if test="requestDate!=null">
            and t1.required_completion_time <![CDATA[ >= ]]>  #{requestDate}
        </if>
        <if test="finishDate!=null">
            and t1.end_detection_time <![CDATA[ >= ]]>  #{finishDate}
        </if>
        <if test="startDate!=null">
            and t1.start_detection_time <![CDATA[ >= ]]>  #{startDate}
        </if>
        <if test="stopDate!=null">
            and t1.end_detection_time <![CDATA[ <= ]]>  #{stopDate}
        </if>
        ORDER BY t1.task_code DESC
    </select>

    <select id="areaStatistics" resultType="com.lims.manage.erp.vo.AreaStatisticsResultVo"
            parameterType="com.lims.manage.erp.vo.StatisticsParamVo">
        SELECT
        t1.task_source taskSource,
        SUM( t1.actual_price ) actualPrice,
        SUM( t1.receivedPrice ) receivedPrice
        FROM
        (
        SELECT
        t1.id,
        t1.acceptance_date,
        t1.task_source,
        t1.actual_price,
        IFNULL( t2.price, 0 ) receivedPrice
        FROM
        test_entrusted_info t1
        LEFT JOIN test_entrusted_payment_record_info t2 ON t1.id = t2.entrustment_id
        WHERE
        t1.state != 144
        ) t1
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="taskSource!=null and taskSource!=''">
                and t1.task_source = #{taskSource}
            </if>
            <if test="beginDate!=null">
                and <![CDATA[  DATE_FORMAT(t1.acceptance_date, '%Y-%m-%d')>=  DATE_FORMAT(#{beginDate}, '%Y-%m-%d')  ]]>
            </if>
            <if test="endDate!=null">
                and <![CDATA[  DATE_FORMAT(t1.acceptance_date, '%Y-%m-%d')<=  DATE_FORMAT(#{endDate}, '%Y-%m-%d')  ]]>
            </if>
        </trim>
        GROUP BY
        t1.task_source
        ORDER BY
        actualPrice DESC
    </select>

    <select id="teamStatistics" resultType="com.lims.manage.erp.vo.TeamOutputValueVo"
            parameterType="com.lims.manage.erp.vo.StatisticsParamVo">
        SELECT
            t3.NAME teamName,
            t3.CODE teamCode,
            SUM( IFNULL( t2.discount, 1 ) * IFNULL( t4.unit_price, 0 ) ) taskPrice
        FROM
            test_task t1
                LEFT JOIN test_entrusted_info t2 ON t1.entrustment_id = t2.id
                LEFT JOIN test_team t3 ON t1.dept_id = t3.id
                LEFT JOIN test_entrusted_sample_checkitem_rel t4 ON t1.id = t4.task_id
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="taskSource!=null and taskSource!=''">
                and t3.NAME = #{taskSource}
            </if>
            <if test="beginDate!=null">
                and <![CDATA[  DATE_FORMAT(t1.review_time, '%Y-%m-%d')>=  DATE_FORMAT(#{beginDate}, '%Y-%m-%d')  ]]>
            </if>
            <if test="endDate!=null">
                and <![CDATA[  DATE_FORMAT(t1.review_time, '%Y-%m-%d')<=  DATE_FORMAT(#{endDate}, '%Y-%m-%d')  ]]>
            </if>
        </trim>
        GROUP BY
            t3.NAME,
            t3.CODE
        ORDER BY
            taskPrice DESC
    </select>
</mapper>