<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lims.manage.erp.mapper.TaskMapper">
    <select id="selectMaxNo" resultType="java.lang.Integer">
        select Max(code)
        from test_task
    </select>

    <insert id="save" parameterType="com.lims.manage.erp.entity.TaskEntity">
        INSERT INTO test_task (id,
                               code,
                               entrustment_id,
                               orderer,
                               order_time,
                               required_completion_time,
                               team_id,
                               receiver,
                               receive_time)
        VALUES (#{id},
                #{code},
                #{entrustmentId},
                #{orderer},
                #{orderTime},
                #{requiredCompletionTime},
                #{teamId},
                #{receiver},
                #{receiveTime})
    </insert>

    <update id="updateEntrustById">
        update test_entrusted_info
        set state=1
        where id = #{entrustmentId}
    </update>

    <resultMap id="taskResultMap" type="com.lims.manage.erp.vo.TaskDetailInfoVo">
        <result property="taskId" column="id"></result>
        <result property="taskCode" column="code"></result>
        <result property="orderer" column="orderer"></result>
        <result property="orderTime" column="order_time"></result>
        <result property="requiredCompletionTime" column="required_completion_time"></result>
        <result property="cost" column="cost"></result>
        <result property="samplingMethod" column="sampling_method"></result>
        <result property="checkPurpose" column="check_purpose"></result>
        <result property="presentInformation" column="present_information"></result>
        <result property="fileUrl" column="file_url"></result>
        <collection property="sampleDetailList" ofType="com.lims.manage.erp.vo.SampleDetailVo">
            <id property="id" column="sample_id"></id>
            <result property="sampleCode" column="sample_code"></result>
            <result property="sampleName" column="sample_name"></result>
            <result property="productId" column="product_id"></result>
            <result property="specs" column="specs"></result>
            <result property="batchNumber" column="batch_number"></result>
            <result property="generation" column="generation"></result>
            <result property="sampleGroups" column="sample_groups"></result>
            <result property="quantityPerGroup" column="quantity_per_group"></result>
            <result property="sampleOrigin" column="sample_origin"></result>
            <result property="manufacturer" column="manufacturer"></result>
            <result property="receivedDate" column="received_date"></result>
            <result property="inspector" column="inspector"></result>
            <result property="sampleRequirement" column="sample_requirement"></result>
            <result property="outward" column="outward"></result>
            <result property="picture" column="picture"></result>
            <collection property="checkItemInfoList" ofType="com.lims.manage.erp.vo.CheckItemInfoVo">
                <id property="checkItemId" column="check_item_id"></id>
                <result property="checkItemName" column="check_item_name"></result>
                <result property="methodId" column="method_id"></result>
                <result property="methodName" column="name"></result>
                <result property="standardId" column="standard_id"></result>
                <result property="standardName" column="standard_name"></result>
                <result property="times" column="times"></result>
                <result property="checkPrice" column="unit_price"></result>
            </collection>
        </collection>
    </resultMap>


    <select id="getTaskDetailInfo" resultMap="taskResultMap">
        SELECT t1.id,
               t1.code,
               t1.orderer,
               t1.order_time,
               t1.required_completion_time,
               666                                  cost,
               t2.sampling_method,
               t2.check_purpose,
               t2.present_information,
               t2.file_url,
               t3.sample_id,
               t4.sample_name,
               t4.product_id,
               t4.sample_code,
               t4.specs,
               t4.batch_number,
               t4.generation,
               t4.sample_groups,
               t4.quantity_per_group,
               t4.sample_origin,
               t4.manufacturer,
               t4.received_date,
               t4.inspector,
               t4.sample_requirement,
               t4.outward,
               t4.picture,
               t5.check_item_id,
               t8.check_item_name,
               t5.method_id,
               t7.name,
               t5.standard_id,
               CONCAT(t6.code, '《', t6.`name`, '》') standard_name,
               t5.times,
               t5.unit_price
        FROM test_task t1
                 LEFT JOIN test_entrusted_info t2 ON t1.entrustment_id = t2.id
                 LEFT JOIN test_entrusted_sample_details_rel t3 ON t2.id = t3.entrustment_id
                 LEFT JOIN test_sample t4 ON t3.sample_id = t4.id
                 LEFT JOIN test_entrusted_sample_checkitem_rel t5 ON t1.entrustment_id = t5.entrust_id
            AND t4.id = t5.sample_id
                 LEFT JOIN test_standard_file t6 ON t5.standard_id = t6.id
                 LEFT JOIN test_method t7 ON t5.method_id = t7.id
                 left join test_product_item t8 on t5.check_item_id = t8.check_item_id
        WHERE t1.state = 0
    </select>

</mapper>