<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lims.manage.erp.mapper.TaskMapper">
    <select id="selectMaxNo" resultType="java.lang.String">
        select Max(code) from test_task
    </select>

    <insert id="save" parameterType="com.lims.manage.erp.entity.TaskEntity">
        INSERT INTO test_task (
	id,
	code,
	entrustment_id,
	orderer,
	order_time,
	required_completion_time,
	team_id,
	receiver,
	receive_time
)
VALUES
	(
		#{id},
		#{code},
		#{entrustmentId},
		#{orderer},
		#{orderTime},
		#{requiredCompletionTime},
		#{teamId},
		#{receiver},
		#{receiveTime})
    </insert>

    <update id="updateEntrustById">
        update test_entrusted_info set state=1 where id=#{entrustmentId}
    </update>
</mapper>