<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lims.manage.erp.mapper.TeamMapper">
    <select id="getUsersByTid" resultType="com.lims.manage.erp.entity.SysUserEntity">
        SELECT u.position AS position,u.username AS username
        FROM
            test_team t
            LEFT JOIN test_technicist tr
        ON t.id = tr.team_id
            LEFT JOIN sys_user u ON tr.user_id = u.user_id
        WHERE
            t.id = 1
    </select>

    <select id="getUserTeamIds" resultType="java.lang.Long">
        SELECT id
        FROM (
                 SELECT t1.id,
                        t1.NAME,
                        t1.del_flag,
                        CASE
                            WHEN
                                find_in_set(pid, @pids) > 0
                                THEN @pids := concat(@pids, ',', id)
                            ELSE 0
                            END ischild
                 FROM (SELECT id, pid, NAME, del_flag FROM test_team ORDER BY pid, id) t1,
                      (SELECT @pids := ( SELECT team_id FROM test_technicist WHERE user_id = #{userId} )) t2
             ) t3
        WHERE ischild != 0
	AND del_flag = 0
        UNION ALL
        SELECT team_id
        FROM test_technicist
        WHERE user_id = #{userId}
    </select>

    <select id="getUsersByTeams" resultType="java.lang.Long">
        SELECT
        u.user_id
        FROM
        test_team t
        LEFT JOIN test_technicist tr ON t.id = tr.team_id
        LEFT JOIN sys_user u ON tr.user_id = u.user_id
        WHERE
        t.id IN
        <foreach collection="list" item="user_id" index="index" open="(" close = ")" separator=",">
        #{user_id}
    </foreach>
        AND u.user_id IS NOT NULL

    </select>
</mapper>