<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lims.manage.erp.mapper.TeamMapper">
    <select id="getUsersByTid" resultType="com.lims.manage.erp.entity.SysUserEntity">
        SELECT
	u.position AS position,
	u.username AS username
FROM
	test_team t
LEFT JOIN test_user_team_rel tr ON t.id = tr.team_id
LEFT JOIN sys_user u ON tr.user_id = u.user_id
WHERE
	t.id = 1
    </select>
</mapper>