<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lims.manage.erp.mapper.TestTaskOrderWorkingHoursMapper">
  <resultMap id="BaseResultMap" type="com.lims.manage.erp.entity.TestTaskOrderWorkingHours">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="total_working_hours" jdbcType="INTEGER" property="totalWorkingHours" />
    <result column="detection_type" jdbcType="VARCHAR" property="detectionType" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="working_hours" jdbcType="INTEGER" property="workingHours" />
    <result column="proportion" jdbcType="VARCHAR" property="proportion" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, task_id, total_working_hours, detection_type, user_id, user_name, working_hours, 
    proportion, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test_task_order_working_hours
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from test_task_order_working_hours
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lims.manage.erp.entity.TestTaskOrderWorkingHours">
    insert into test_task_order_working_hours (id, task_id, total_working_hours, 
      detection_type, user_id, user_name, 
      working_hours, proportion, create_time,
      update_time,add_operator)
    values (id, #{taskId,jdbcType=BIGINT}, #{totalWorkingHours,jdbcType=INTEGER},
      #{detectionType,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
      #{workingHours,jdbcType=INTEGER}, #{proportion,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP},#{addOperator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lims.manage.erp.entity.TestTaskOrderWorkingHours">
    insert into test_task_order_working_hours
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="totalWorkingHours != null">
        total_working_hours,
      </if>
      <if test="detectionType != null">
        detection_type,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="workingHours != null">
        working_hours,
      </if>
      <if test="proportion != null">
        proportion,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=BIGINT},
      </if>
      <if test="totalWorkingHours != null">
        #{totalWorkingHours,jdbcType=INTEGER},
      </if>
      <if test="detectionType != null">
        #{detectionType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="workingHours != null">
        #{workingHours,jdbcType=INTEGER},
      </if>
      <if test="proportion != null">
        #{proportion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lims.manage.erp.entity.TestTaskOrderWorkingHours">
    update test_task_order_working_hours
    <set>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=BIGINT},
      </if>
      <if test="totalWorkingHours != null">
        total_working_hours = #{totalWorkingHours,jdbcType=INTEGER},
      </if>
      <if test="detectionType != null">
        detection_type = #{detectionType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="workingHours != null">
        working_hours = #{workingHours,jdbcType=INTEGER},
      </if>
      <if test="proportion != null">
        proportion = #{proportion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lims.manage.erp.entity.TestTaskOrderWorkingHours">
    update test_task_order_working_hours
    set task_id = #{taskId,jdbcType=BIGINT},
      total_working_hours = #{totalWorkingHours,jdbcType=INTEGER},
      detection_type = #{detectionType,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      working_hours = #{workingHours,jdbcType=INTEGER},
      proportion = #{proportion,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectTaskOrderWorkingHours" resultType="com.lims.manage.erp.entity.TestTaskOrderWorkingHours">
    SELECT
    t1.id,
    t1.task_id,
    t1.total_working_hours,
    t1.detection_type,
    t1.user_id,
    t1.user_name,
    t1.working_hours,
    t1.proportion,
    t1.create_time,
    t1.update_time,
    t2.state
    FROM
    test_task_order_working_hours AS t1
    LEFT JOIN test_task AS t2 ON t1.task_id = t2.id
    <where>
      1=1
      <if test="longList!=null">
        and t1.user_id IN
        <foreach collection="longList" item="id" open="(" close=")" separator=",">
          #{id}
        </foreach>
      </if>
      <if test="startDate!=null">
        AND t2.order_time >= #{startDate}
      </if>
      <if test="stopDate!=null">
        AND #{stopDate} >= t2.required_completion_time
      </if>
    </where>
  </select>

  <select id="selectTaskOrderTotalWorkingHours" resultType="com.lims.manage.erp.entity.TestTaskOrderWorkingHours">
    SELECT
    t1.task_id,
    t1.total_working_hours AS working_hours,
    t2.receiver AS user_id,
    t2.state
    FROM
    test_task_order_working_hours AS t1
    LEFT JOIN test_task AS t2 ON t1.task_id = t2.id
    <where>
      1=1
      <if test="longList!=null">
        AND t2.receiver IN
        <foreach collection="longList" item="id" open="(" close=")" separator=",">
          #{id}
        </foreach>
      </if>
      <if test="startDate!=null">
        AND t2.order_time >= #{startDate}
      </if>
      <if test="stopDate!=null">
        AND #{stopDate} >= t2.required_completion_time
      </if>
    </where>
    GROUP BY
    t1.task_id
  </select>
</mapper>