<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lims.manage.erp.mapper.TestSampleEntityMapper">
    <resultMap id="BaseResultMap" type="com.lims.manage.erp.entity.TestSampleEntity">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="company_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="sample_name" jdbcType="CHAR" javaType="java.lang.String"/>
            <arg column="sample_code" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="specs" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="batch_number" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="manufacturer" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="sample_origin" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="outward" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="save_place" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="admin" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="sample_groups" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="quantity_per_group" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="inspector" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="received_date" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="sample_requirement" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="generation" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="state" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="check_date" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="file" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="product_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="outward_describe" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="insert_flag" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="is_use" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="sample_quantity" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="alias_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="sample_type" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="sample_remark" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.lims.manage.erp.entity.TestSampleEntity">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="company_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="sample_name" jdbcType="CHAR" javaType="java.lang.String"/>
            <arg column="sample_code" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="specs" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="batch_number" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="manufacturer" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="sample_origin" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="outward" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="save_place" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="admin" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="sample_groups" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="quantity_per_group" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="inspector" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="received_date" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="sample_requirement" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="generation" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="state" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="check_date" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="file" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="product_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="outward_describe" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="insert_flag" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="is_use" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="sample_quantity" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="alias_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="sample_type" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="sample_remark" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="picture" jdbcType="LONGVARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , company_id, sample_name, sample_code, specs, batch_number, manufacturer, sample_origin,
    outward, save_place, admin, sample_groups, quantity_per_group, inspector, received_date, 
    sample_requirement, generation, state, check_date, remark, file, product_id, outward_describe, 
    insert_flag, is_use, sample_quantity, alias_name, sample_type, sample_remark
    </sql>
    <sql id="Blob_Column_List">
        picture
    </sql>
    <select id="selectByPrimaryKey" resultType="com.lims.manage.erp.entity.TestSampleEntity"
            parameterType="java.lang.Integer">
        select
        t1.id
        , t1.company_id, t1.sample_name, t1.sample_code, t1.specs, t1.batch_number, t1.manufacturer, t1.sample_origin,
        t1.outward, t1.save_place, t1.admin, t1.sample_groups, t1.quantity_per_group, t1.inspector, t1.received_date,
        t1.sample_requirement, t1.generation, t1.state, t1.check_date, t1.remark, t1.file, t1.product_id,
        t1.outward_describe,
        t1.insert_flag, t1.is_use, t1.sample_quantity, t1.alias_name, t1.sample_type, t1.sample_remark
        ,
        <include refid="Blob_Column_List"/>
        ,
        t2.company_name
        from test_sample t1 left join test_company t2 on t1.company_id = t2.company_id
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from test_sample
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.lims.manage.erp.entity.TestSampleEntity">
        insert into test_sample (id, company_id, sample_name,
                                 sample_code, specs, batch_number,
                                 manufacturer, sample_origin, outward,
                                 save_place, admin, sample_groups,
                                 quantity_per_group, inspector, received_date,
                                 sample_requirement, generation, state,
                                 check_date, remark, file,
                                 product_id, outward_describe, insert_flag,
                                 is_use, sample_quantity, alias_name,
                                 sample_type, sample_remark, picture)
        values (#{id,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{sampleName,jdbcType=CHAR},
                #{sampleCode,jdbcType=VARCHAR}, #{specs,jdbcType=VARCHAR}, #{batchNumber,jdbcType=VARCHAR},
                #{manufacturer,jdbcType=VARCHAR}, #{sampleOrigin,jdbcType=VARCHAR}, #{outward,jdbcType=VARCHAR},
                #{savePlace,jdbcType=VARCHAR}, #{admin,jdbcType=VARCHAR}, #{sampleGroups,jdbcType=INTEGER},
                #{quantityPerGroup,jdbcType=INTEGER}, #{inspector,jdbcType=VARCHAR}, #{receivedDate,jdbcType=VARCHAR},
                #{sampleRequirement,jdbcType=VARCHAR}, #{generation,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR},
                #{checkDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{file,jdbcType=VARCHAR},
                #{productId,jdbcType=INTEGER}, #{outwardDescribe,jdbcType=VARCHAR}, #{insertFlag,jdbcType=VARCHAR},
                #{isUse,jdbcType=INTEGER}, #{sampleQuantity,jdbcType=VARCHAR}, #{aliasName,jdbcType=VARCHAR},
                #{sampleType,jdbcType=VARCHAR}, #{sampleRemark,jdbcType=VARCHAR}, #{picture,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.lims.manage.erp.entity.TestSampleEntity">
        insert into test_sample
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="sampleName != null">
                sample_name,
            </if>
            <if test="sampleCode != null">
                sample_code,
            </if>
            <if test="specs != null">
                specs,
            </if>
            <if test="batchNumber != null">
                batch_number,
            </if>
            <if test="manufacturer != null">
                manufacturer,
            </if>
            <if test="sampleOrigin != null">
                sample_origin,
            </if>
            <if test="outward != null">
                outward,
            </if>
            <if test="savePlace != null">
                save_place,
            </if>
            <if test="admin != null">
                admin,
            </if>
            <if test="sampleGroups != null">
                sample_groups,
            </if>
            <if test="quantityPerGroup != null">
                quantity_per_group,
            </if>
            <if test="inspector != null">
                inspector,
            </if>
            <if test="receivedDate != null">
                received_date,
            </if>
            <if test="sampleRequirement != null">
                sample_requirement,
            </if>
            <if test="generation != null">
                generation,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="checkDate != null">
                check_date,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="file != null">
                file,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="outwardDescribe != null">
                outward_describe,
            </if>
            <if test="insertFlag != null">
                insert_flag,
            </if>
            <if test="isUse != null">
                is_use,
            </if>
            <if test="sampleQuantity != null">
                sample_quantity,
            </if>
            <if test="aliasName != null">
                alias_name,
            </if>
            <if test="sampleType != null">
                sample_type,
            </if>
            <if test="sampleRemark != null">
                sample_remark,
            </if>
            <if test="picture != null">
                picture,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=INTEGER},
            </if>
            <if test="sampleName != null">
                #{sampleName,jdbcType=CHAR},
            </if>
            <if test="sampleCode != null">
                #{sampleCode,jdbcType=VARCHAR},
            </if>
            <if test="specs != null">
                #{specs,jdbcType=VARCHAR},
            </if>
            <if test="batchNumber != null">
                #{batchNumber,jdbcType=VARCHAR},
            </if>
            <if test="manufacturer != null">
                #{manufacturer,jdbcType=VARCHAR},
            </if>
            <if test="sampleOrigin != null">
                #{sampleOrigin,jdbcType=VARCHAR},
            </if>
            <if test="outward != null">
                #{outward,jdbcType=VARCHAR},
            </if>
            <if test="savePlace != null">
                #{savePlace,jdbcType=VARCHAR},
            </if>
            <if test="admin != null">
                #{admin,jdbcType=VARCHAR},
            </if>
            <if test="sampleGroups != null">
                #{sampleGroups,jdbcType=INTEGER},
            </if>
            <if test="quantityPerGroup != null">
                #{quantityPerGroup,jdbcType=INTEGER},
            </if>
            <if test="inspector != null">
                #{inspector,jdbcType=VARCHAR},
            </if>
            <if test="receivedDate != null">
                #{receivedDate,jdbcType=VARCHAR},
            </if>
            <if test="sampleRequirement != null">
                #{sampleRequirement,jdbcType=VARCHAR},
            </if>
            <if test="generation != null">
                #{generation,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="checkDate != null">
                #{checkDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="file != null">
                #{file,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="outwardDescribe != null">
                #{outwardDescribe,jdbcType=VARCHAR},
            </if>
            <if test="insertFlag != null">
                #{insertFlag,jdbcType=VARCHAR},
            </if>
            <if test="isUse != null">
                #{isUse,jdbcType=INTEGER},
            </if>
            <if test="sampleQuantity != null">
                #{sampleQuantity,jdbcType=VARCHAR},
            </if>
            <if test="aliasName != null">
                #{aliasName,jdbcType=VARCHAR},
            </if>
            <if test="sampleType != null">
                #{sampleType,jdbcType=VARCHAR},
            </if>
            <if test="sampleRemark != null">
                #{sampleRemark,jdbcType=VARCHAR},
            </if>
            <if test="picture != null">
                #{picture,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lims.manage.erp.entity.TestSampleEntity">
        update test_sample
        <set>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=INTEGER},
            </if>
            <if test="sampleName != null">
                sample_name = #{sampleName,jdbcType=CHAR},
            </if>
            <if test="sampleCode != null">
                sample_code = #{sampleCode,jdbcType=VARCHAR},
            </if>
            <if test="specs != null">
                specs = #{specs,jdbcType=VARCHAR},
            </if>
            <if test="batchNumber != null">
                batch_number = #{batchNumber,jdbcType=VARCHAR},
            </if>
            <if test="manufacturer != null">
                manufacturer = #{manufacturer,jdbcType=VARCHAR},
            </if>
            <if test="sampleOrigin != null">
                sample_origin = #{sampleOrigin,jdbcType=VARCHAR},
            </if>
            <if test="outward != null">
                outward = #{outward,jdbcType=VARCHAR},
            </if>
            <if test="savePlace != null">
                save_place = #{savePlace,jdbcType=VARCHAR},
            </if>
            <if test="admin != null">
                admin = #{admin,jdbcType=VARCHAR},
            </if>
            <if test="sampleGroups != null">
                sample_groups = #{sampleGroups,jdbcType=INTEGER},
            </if>
            <if test="quantityPerGroup != null">
                quantity_per_group = #{quantityPerGroup,jdbcType=INTEGER},
            </if>
            <if test="inspector != null">
                inspector = #{inspector,jdbcType=VARCHAR},
            </if>
            <if test="receivedDate != null">
                received_date = #{receivedDate,jdbcType=VARCHAR},
            </if>
            <if test="sampleRequirement != null">
                sample_requirement = #{sampleRequirement,jdbcType=VARCHAR},
            </if>
            <if test="generation != null">
                generation = #{generation,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="checkDate != null">
                check_date = #{checkDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="file != null">
                file = #{file,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=INTEGER},
            </if>
            <if test="outwardDescribe != null">
                outward_describe = #{outwardDescribe,jdbcType=VARCHAR},
            </if>
            <if test="insertFlag != null">
                insert_flag = #{insertFlag,jdbcType=VARCHAR},
            </if>
            <if test="isUse != null">
                is_use = #{isUse,jdbcType=INTEGER},
            </if>
            <if test="sampleQuantity != null">
                sample_quantity = #{sampleQuantity,jdbcType=VARCHAR},
            </if>
            <if test="aliasName != null">
                alias_name = #{aliasName,jdbcType=VARCHAR},
            </if>
            <if test="sampleType != null">
                sample_type = #{sampleType,jdbcType=VARCHAR},
            </if>
            <if test="sampleRemark != null">
                sample_remark = #{sampleRemark,jdbcType=VARCHAR},
            </if>
            <if test="picture != null">
                picture = #{picture,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lims.manage.erp.entity.TestSampleEntity">
        update test_sample
        set company_id         = #{companyId,jdbcType=INTEGER},
            sample_name        = #{sampleName,jdbcType=CHAR},
            sample_code        = #{sampleCode,jdbcType=VARCHAR},
            specs              = #{specs,jdbcType=VARCHAR},
            batch_number       = #{batchNumber,jdbcType=VARCHAR},
            manufacturer       = #{manufacturer,jdbcType=VARCHAR},
            sample_origin      = #{sampleOrigin,jdbcType=VARCHAR},
            outward            = #{outward,jdbcType=VARCHAR},
            save_place         = #{savePlace,jdbcType=VARCHAR},
            admin              = #{admin,jdbcType=VARCHAR},
            sample_groups      = #{sampleGroups,jdbcType=INTEGER},
            quantity_per_group = #{quantityPerGroup,jdbcType=INTEGER},
            inspector          = #{inspector,jdbcType=VARCHAR},
            received_date      = #{receivedDate,jdbcType=VARCHAR},
            sample_requirement = #{sampleRequirement,jdbcType=VARCHAR},
            generation         = #{generation,jdbcType=VARCHAR},
            state              = #{state,jdbcType=VARCHAR},
            check_date         = #{checkDate,jdbcType=TIMESTAMP},
            remark             = #{remark,jdbcType=VARCHAR},
            file               = #{file,jdbcType=VARCHAR},
            product_id         = #{productId,jdbcType=INTEGER},
            outward_describe   = #{outwardDescribe,jdbcType=VARCHAR},
            insert_flag        = #{insertFlag,jdbcType=VARCHAR},
            is_use             = #{isUse,jdbcType=INTEGER},
            sample_quantity    = #{sampleQuantity,jdbcType=VARCHAR},
            alias_name         = #{aliasName,jdbcType=VARCHAR},
            sample_type        = #{sampleType,jdbcType=VARCHAR},
            sample_remark      = #{sampleRemark,jdbcType=VARCHAR},
            picture            = #{picture,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lims.manage.erp.entity.TestSampleEntity">
        update test_sample
        set company_id         = #{companyId,jdbcType=INTEGER},
            sample_name        = #{sampleName,jdbcType=CHAR},
            sample_code        = #{sampleCode,jdbcType=VARCHAR},
            specs              = #{specs,jdbcType=VARCHAR},
            batch_number       = #{batchNumber,jdbcType=VARCHAR},
            manufacturer       = #{manufacturer,jdbcType=VARCHAR},
            sample_origin      = #{sampleOrigin,jdbcType=VARCHAR},
            outward            = #{outward,jdbcType=VARCHAR},
            save_place         = #{savePlace,jdbcType=VARCHAR},
            admin              = #{admin,jdbcType=VARCHAR},
            sample_groups      = #{sampleGroups,jdbcType=INTEGER},
            quantity_per_group = #{quantityPerGroup,jdbcType=INTEGER},
            inspector          = #{inspector,jdbcType=VARCHAR},
            received_date      = #{receivedDate,jdbcType=VARCHAR},
            sample_requirement = #{sampleRequirement,jdbcType=VARCHAR},
            generation         = #{generation,jdbcType=VARCHAR},
            state              = #{state,jdbcType=VARCHAR},
            check_date         = #{checkDate,jdbcType=TIMESTAMP},
            remark             = #{remark,jdbcType=VARCHAR},
            file               = #{file,jdbcType=VARCHAR},
            product_id         = #{productId,jdbcType=INTEGER},
            outward_describe   = #{outwardDescribe,jdbcType=VARCHAR},
            insert_flag        = #{insertFlag,jdbcType=VARCHAR},
            is_use             = #{isUse,jdbcType=INTEGER},
            sample_quantity    = #{sampleQuantity,jdbcType=VARCHAR},
            alias_name         = #{aliasName,jdbcType=VARCHAR},
            sample_type        = #{sampleType,jdbcType=VARCHAR},
            sample_remark      = #{sampleRemark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyNotAll" parameterType="com.lims.manage.erp.entity.TestSampleEntity">
        update test_sample
        set specs            = #{specs,jdbcType=VARCHAR},
            batch_number     = #{batchNumber,jdbcType=VARCHAR},
            manufacturer     = #{manufacturer,jdbcType=VARCHAR},
            sample_origin    = #{sampleOrigin,jdbcType=VARCHAR},
            outward          = #{outward,jdbcType=VARCHAR},
            received_date    = #{receivedDate,jdbcType=VARCHAR},
            generation       = #{generation,jdbcType=VARCHAR},
            outward_describe = #{outwardDescribe,jdbcType=VARCHAR},
            alias_name       = #{aliasName,jdbcType=VARCHAR},
            sample_remark    = #{sampleRemark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into test_sample (company_id, sample_name,
        sample_code, specs, batch_number,
        manufacturer, sample_origin, outward,
        save_place, admin, sample_groups,
        quantity_per_group, inspector, received_date,
        sample_requirement, generation, state,
        check_date, remark, file,
        product_id, outward_describe, insert_flag,
        is_use, sample_quantity, alias_name,
        sample_type, sample_remark, picture)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.companyId,jdbcType=INTEGER}, #{entity.sampleName,jdbcType=CHAR},
            #{entity.sampleCode,jdbcType=VARCHAR}, #{entity.specs,jdbcType=VARCHAR},
            #{entity.batchNumber,jdbcType=VARCHAR},
            #{entity.manufacturer,jdbcType=VARCHAR}, #{entity.sampleOrigin,jdbcType=VARCHAR},
            #{entity.outward,jdbcType=VARCHAR},
            #{entity.savePlace,jdbcType=VARCHAR}, #{entity.admin,jdbcType=VARCHAR},
            #{entity.sampleGroups,jdbcType=INTEGER},
            #{entity.quantityPerGroup,jdbcType=INTEGER}, #{entity.inspector,jdbcType=VARCHAR},
            #{entity.receivedDate,jdbcType=VARCHAR},
            #{entity.sampleRequirement,jdbcType=VARCHAR}, #{entity.generation,jdbcType=VARCHAR},
            #{entity.state,jdbcType=VARCHAR},
            #{entity.checkDate,jdbcType=TIMESTAMP}, #{entity.remark,jdbcType=VARCHAR}, #{entity.file,jdbcType=VARCHAR},
            #{entity.productId,jdbcType=INTEGER}, #{entity.outwardDescribe,jdbcType=VARCHAR},
            #{entity.insertFlag,jdbcType=VARCHAR},
            #{entity.isUse,jdbcType=INTEGER}, #{entity.sampleQuantity,jdbcType=VARCHAR},
            #{entity.aliasName,jdbcType=VARCHAR},
            #{entity.sampleType,jdbcType=VARCHAR}, #{entity.sampleRemark,jdbcType=VARCHAR},
            #{entity.picture,jdbcType=LONGVARCHAR})
        </foreach>
    </insert>

    <select id="getSimpleList" parameterType="com.lims.manage.erp.entity.TestSampleEntity"
            resultType="com.lims.manage.erp.vo.SampleSimpleListVo">
        SELECT
        id,
        product_id,
        sample_name,
        sample_code,
        manufacturer,
        specs,
        inspector,
        generation,
        received_date,
        batch_number
        FROM
        test_sample
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            is_use = 0
            <if test="sampleName!=null and sampleName!=''">
                and sample_name LIKE CONCAT('%',#{sampleName},'%')
            </if>
            <if test="batchNumber!=null and batchNumber!=''">
                and batch_number LIKE CONCAT('%',#{batchNumber},'%')
            </if>
            <if test="manufacturer!=null and manufacturer!=''">
                and manufacturer LIKE CONCAT('%',#{manufacturer},'%')
            </if>
            <if test="beginDate!=null and beginDate!=''">
                and str_to_date( received_date, '%Y-%m-%d' ) &gt;= str_to_date( #{beginDate}, '%Y-%m-%d' )
            </if>
            <if test="endDate!=null and endDate!=''">
                and str_to_date( received_date, '%Y-%m-%d' ) &lt;= str_to_date( #{endDate}, '%Y-%m-%d' )
            </if>
            <if test="productId!=null">
                and product_id = #{productId}
            </if>
            <if test="companyId!=null">
                and company_id = #{companyId}
            </if>
        </trim>
        order by sample_code DESC,str_to_date( received_date, '%Y-%m-%d' ) desc
    </select>


    <resultMap id="sampleJudgeBasisListMap" type="com.lims.manage.erp.vo.SampleJudgeBasisVo">
        <result property="id" column="id"></result>
        <result property="sampleName" column="sample_name"></result>
        <result property="sampleCode" column="sample_code"></result>
        <result property="manufacturer" column="manufacturer"></result>
        <result property="specs" column="specs"></result>
        <result property="inspector" column="inspector"></result>
        <result property="generation" column="generation"></result>
        <result property="receivedDate" column="received_date"></result>
        <!--        <collection property="judgeBasisList" ofType="com.lims.manage.erp.vo.LabelValueVo">-->
        <!--            <id property="value" column="value"></id>-->
        <!--            <result property="label" column="label"></result>-->
        <!--        </collection>-->
        <collection property="judgeBasisList" ofType="com.lims.manage.erp.vo.LabelValueVo"
                    column="standardFileId" select="selectJudgeBasis">
        </collection>
    </resultMap>

    <select id="querySampleJudgeBasisList" parameterType="com.lims.manage.erp.entity.TestSampleEntity"
            resultMap="sampleJudgeBasisListMap">
        SELECT
        t1.id,
        sample_name,
        sample_code,
        manufacturer,
        specs,
        inspector,
        generation,
        received_date,
        t2.standard_file_id standardFileId
        FROM
        test_sample t1
        LEFT JOIN test_product_standard_file_rel t2 ON t1.product_id = t2.product_id
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            is_use = 0
            <if test="sampleName!=null and sampleName!=''">
                and sample_name LIKE CONCAT('%',#{sampleName},'%')
            </if>
            <if test="batchNumber!=null and batchNumber!=''">
                and batch_number LIKE CONCAT('%',#{batchNumber},'%')
            </if>
            <if test="manufacturer!=null and manufacturer!=''">
                and manufacturer LIKE CONCAT('%',#{manufacturer},'%')
            </if>
            <if test="beginDate!=null and beginDate!=''">
                and str_to_date( received_date, '%Y-%m-%d' ) &gt;= str_to_date( #{beginDate}, '%Y-%m-%d' )
            </if>
            <if test="endDate!=null and endDate!=''">
                and str_to_date( received_date, '%Y-%m-%d' ) &lt;= str_to_date( #{endDate}, '%Y-%m-%d' )
            </if>
            <if test="productId!=null">
                and product_id = #{productId}
            </if>
            <if test="companyId!=null">
                and company_id = #{companyId}
            </if>
        </trim>
        order by sample_code DESC,str_to_date( received_date, '%Y-%m-%d' ) desc
    </select>

    <select id="selectJudgeBasis" resultType="com.lims.manage.erp.vo.LabelValueVo">
        SELECT id VALUE,
	           CONCAT( CODE, '《', NAME, '》' ) label
        FROM
            test_standard_file
        WHERE
            id = #{standardFileId}
    </select>
</mapper>