<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lims.manage.erp.mapper.TestCheckItemsTaskRelMapper">


    <!--  根据条件获取工时统计信息  -->
    <select id="getWorkHoursList" resultType="com.lims.manage.erp.vo.WorkHourStatisticVo">
        SELECT userTeam.team_name,checkItemsTask.user_name,
            sum( userProportion.user_proportion * checkDuration.duration ) AS work_hour
        FROM test_check_items_task_rel checkItemsTask
        INNER JOIN (
            SELECT checkItem.task_id,checkItem.check_item_id,productItem.duration
            FROM (
                SELECT checkItemRecord.task_id, checkItemRecord.check_item_id
                FROM test_entrusted_sample_checkitem_rel checkItemRecord
                WHERE checkItemRecord.end_time IS NOT NULL
                <if test="map.beginTime != null">
                    <![CDATA[AND DATE_FORMAT(checkItemRecord.end_time, '%Y-%m-%d') >= DATE_FORMAT(#{map.beginTime}, '%Y-%m-%d')]]>
                </if>
                <if test="map.endTime != null">
                    <![CDATA[AND DATE_FORMAT(checkItemRecord.end_time, '%Y-%m-%d') <= DATE_FORMAT(#{map.endTime}, '%Y-%m-%d')]]>
                </if>
            ) checkItem
            INNER JOIN test_product_item productItem ON checkItem.check_item_id = productItem.check_item_id
        ) checkDuration ON checkItemsTask.task_id = checkDuration.task_id AND checkItemsTask.item_id = checkDuration.check_item_id
        INNER JOIN test_user_proportion userProportion ON checkItemsTask.user_type = userProportion.user_type
        INNER JOIN (
            SELECT technicist.user_id, team.NAME AS team_name
            FROM test_technicist technicist
            INNER JOIN test_team team ON technicist.team_id = team.id
            <where>
                <if test="map.deptIds!=null">
                    and team.id in
                    <foreach collection="map.deptIds" item="id" open="(" close=")" separator=",">
                        #{id}
                    </foreach>
                </if>
            </where>
        ) userTeam ON checkItemsTask.user_id = userTeam.user_id
        <where>
            <if test="map.userName!=null and map.userName!=''">
                AND checkItemsTask.user_name LIKE concat(concat('%',#{map.userName}),'%')
            </if>
        </where>
        GROUP BY checkItemsTask.user_id
    </select>

    <select id="getMyHoursStatistics" resultType="com.lims.manage.erp.vo.TaskStatisticsVo">
        SELECT
        t1.id as taskId,
        t1.order_time,
        t4.issuer_time as required_completion_time,
        t1.task_code,
        t2.NAME AS receiver,
        "任务大厅" AS source,
        IF
        ( IFNULL( t3.update_time, 0 ) = 0, 0, 1 ) AS state,
        t3.working_hours as workingHours,
        t3.working_hours_id as workingHoursId
        FROM
        test_task AS t1
        LEFT JOIN sys_user AS t2 ON t1.receiver = t2.user_id
        LEFT JOIN test_task_order_working_hours AS t3 ON t1.id = t3.task_id
        LEFT JOIN test_report_record AS t4 ON t4.entrustment_id = t1.entrustment_id
        <where>
            1=1
            and t3.task_id is not null
            <if test="receiverUserId!=null">
                and ( t3.user_id = #{receiverUserId})
            </if>
            <if test="startDate!=null">
                AND t4.issuer_time  >= #{startDate}
            </if>
            <if test="stopDate!=null">
                AND #{stopDate} >= t4.issuer_time
            </if>
        </where>
        GROUP BY
        CONCAT( t1.id, IFNULL( t3.working_hours_id, 0 ) )
        ORDER BY t1.end_detection_time desc
    </select>

    <select id="getMyHoursStatisticsSum" resultType="java.lang.String">
        SELECT
        sum( aa.workingHours)
        FROM
        (
        SELECT
        t1.id as taskId,
        t1.order_time,
        t1.end_detection_time as required_completion_time,
        t1.task_code,
        t2.NAME AS receiver,
        "任务大厅" AS source,
        IF
        ( IFNULL( t3.update_time, 0 ) = 0, 0, 1 ) AS state,
        t3.working_hours as workingHours,
        t3.working_hours_id as workingHoursId
        FROM
        test_task AS t1
        LEFT JOIN sys_user AS t2 ON t1.receiver = t2.user_id
        LEFT JOIN test_task_order_working_hours AS t3 ON t1.id = t3.task_id
        LEFT JOIN test_report_record AS t4 ON t4.entrustment_id = t1.entrustment_id
        <where>
            1=1
            and t3.task_id is not null
            <if test="receiverUserId!=null">
                and (t3.user_id = #{receiverUserId} )
            </if>
            <if test="startDate!=null">
                AND t4.issuer_time >= #{startDate}
            </if>
            <if test="stopDate!=null">
                AND #{stopDate} >= t4.issuer_time
            </if>
        </where>
        GROUP BY
        CONCAT( t1.id, IFNULL( t3.working_hours_id, 0 ) )
        ORDER BY t1.end_detection_time desc ) as aa
    </select>

    <select id="selectAllDataBitValue" resultType="com.lims.manage.erp.entity.TestCheckItemsTaskRel">
        SELECT
            t1.*,
            t2.bit_value AS bitValue
        FROM
            test_check_items_task_rel AS t1
            LEFT JOIN test_entrusted_sample_checkitem_rel AS t2 ON t1.item_id = t2.id
        WHERE
            t1.task_id = #{taskId}
    </select>
</mapper>
